{php $acb = $f->control->element}
{php $refId = empty($refId) ? $presenter->getParameter('id') : $refId}
{php $refBo = empty($refBo) ? $presenter->getParameter('bo') : $refBo}
{php $ref = str_replace(['{ID}', '{action}'],[$refId, $presenter->action], $basePath.'/'.$acb->ref)}

{php $_refBoParts = explode('\\', get_class($data))}
{php $refBo = end($_refBoParts)}
{php $acbId = trim($acb->id, '}{')}
{php $refId = $data->$acbId}

{php $goto = $presenter->link($acb->action, [
	'bo' => $acb->bo,
	'prefillsource' => $refId,
	'prefillsourceobject' => $refBo,
	'ref' => $ref])}
{if $acb->autosave && empty($forceLink)}
	<button type="button" class="btn btn-default" data-submitted-by="actionbutton_{$f->name}">{$f->caption}</button>
	<input type="hidden" name="actionbutton_{$f->name}_goto" value="{$goto}" />
{else}
	<a href="{$goto}" class="btn btn-default">{$f->caption}</a>
{/if}