{if $tableView || (!$tableView && (strtolower($field->display) != 'text' && empty($forceViewOnly)) || empty($field->control->settings->autocomplete))}
<div class="control-group{if $field->name === $APPROVE_FIELD_NAME} hide{/if}" n:tag-if="!$tableView">
	{php $isActionButton = isset($field->control) && isset($field->control->element) && $field->control->element instanceof \Abra\Service\ActionButton}
	{if strtolower($field->display) == 'text' || !empty($forceViewOnly)}
        {if !$tableView && strtolower($field->type) == 'dtsplitter'}
            <div class="splitter" style="{$field->style|noescape}"></div>
        {else}
            {if !empty($deleteFlag) && (isset($data->CanDelete) && !empty(trim($data->CanDelete)))}
                {php $__DELETE_FLAG__PATH = $namePath; array_pop($__DELETE_FLAG__PATH);}
                {php $dfpPrefix = '';}
                {php foreach($__DELETE_FLAG__PATH as $dfpIndex => $dfpPart) { $dfpPrefix .= ($dfpIndex == 0 ? $dfpPart : '['.$dfpPart.']'); } }
                <input type="hidden" name="{$dfpPrefix|noescape}[__DELETE_FLAG__]" value="0" />
            {/if}

            {if !$tableView}
                {php $label = __($field->caption)}
                <label class="control-label">{$label|placeValues:$data,$culture|noescape}</label>
            {/if}

            {if $isActionButton}
                <div n:class="$tableView ? 'text-field' : 'controls text-field'">
                    {include '_actionbutton.latte' f => $field, forceLink => true, data => $data}
                </div>
            {elseif isset($field->control->element) && $field->control->element instanceof \Abra\Service\Link}
                <div n:class="$tableView ? 'text-field' : 'controls text-field'">
                    {include '_link.latte' field=>$field, data=>$data}
                </div>
            {elseif isset($field->control->element) && $field->control->element instanceof \Abra\Service\PreviewPDF}
                {include '_previewpdf.latte' field=>$field, data=>$data}
            {elseif isset($field->control->element) && $field->control->element instanceof \Abra\Service\Select}
                {php $label = $field->name} {* do NOT translate Field names! *}
                {php $items = $field->control->element->getItems()}
                {php $val = ($label|objectValue:$data,$culture,true)}
                <div n:class="$tableView ? 'text-field' : 'controls text-field'">{$items[$val]->caption|noescape}</div>
            {else}
                {php $label = $field->name} {* do NOT translate Field names! *}
                {php $value = ($label|objectValue:$data,$culture,true|placeValues:$data,$culture,true)}
                {php $value = (string)$value}
                {*php $value = $this->template->placeValues($this->template->objectValue($label, $data, $culture, true), $data, $culture, true)*}
                {php if (isset($aggregation->{$field->name}) && $aggregation->{$field->name}->function == 'sum') $aggregation->{$field->name}->value += $value }
                <div n:class="$tableView ? 'text-field' : 'controls text-field'">{$label|objectValue:$data,$culture,false,$tableView|placeValues:$data,$culture|url2link|nl2br|modifyControl:$field,$namePath,$data,$entityName,$entityNamespace|noescape}</div>
            {/if}
        {/if}
	{else}
		{php $ctr = $form}

		{php $foundComponent = TRUE}
		{foreach $namePath as $npPart}
			{if isset($ctr->components[$npPart])}
				{* Pokud je to autocomplete pole a jsme v teckove notaci az na konci, tak vymenime ID za ID_autocomplete *}
				{if !empty($field->control->settings->autocomplete) && $iterator->last}
					{php $ctrId = $ctr->components[$npPart]}
					{php $ctr = $ctr->components[$npPart.'_autocomplete']}
				{else}
					{php $ctr = $ctr->components[$npPart]}
				{/if}
			{else}
				{php $foundComponent = FALSE}
			{/if}
		{/foreach}

		{if $foundComponent}
			{if !empty($deleteFlag)}
				{php
					$deleteFlagNameParts = explode('[', $ctr->getHtmlName());
					array_pop($deleteFlagNameParts);
					$deleteFlagName = trim(implode('[', $deleteFlagNameParts),'[').'[__DELETE_FLAG__]'
				}
				<input type="hidden" name="{$deleteFlagName}" value="0" />
			{/if}
			{if $ctr instanceof \Nette\Forms\Controls\Checkbox}
				<div n:class="!$tableView ? 'controls'">{$ctr->control|replaceRE:'/width:\s*[0-9a-zA-Z%]+;?/':'width:100%;'|replaceRE:'/\s+for="[^"]+"/':''|noescape}{$ctr->label|striptags}</div> {* <label class="checkbox"></label> *}
			{else}				
				{if !$tableView}
					{$ctr->label->addAttributes(array('class' => 'control-label'))}
				{/if}
				{* PODLE STYLU UPRAVIME VALUE *}
				{if $ctr instanceof \Nette\Forms\Controls\TextInput && isset($ctr->control->attrs['data-input-type'])}

					{* TODO: Konverzi hodnot presunout do BasePresenteru *}

					{* JE TO DATETIME *}
					{if $ctr->control->attrs['data-input-type'] == 'dtDateTime' && isset($ctr->control->attrs['value']) && $ctr->control->attrs['value'] != ''}
						{php $ctr->setValue(date($culture['dateTime'], strtotime($ctr->control->attrs['value'])))}
					{/if}

					{* JE TO DATE *}
					{if $ctr->control->attrs['data-input-type'] == 'dtDate' && isset($ctr->control->attrs['value']) && $ctr->control->attrs['value'] != ''}
						{php $ctr->setValue(date($culture['date'], strtotime($ctr->control->attrs['value'])))}
					{/if}

					{* JE TO FLOAT *}
					{if $ctr->control->attrs['data-input-type'] == 'dtFloat' && isset($ctr->control->attrs['value']) && $ctr->control->attrs['value'] != ''}
						{php $len = preg_split('/[\,\.]/', $ctr->control->attrs['data-input-length'])}
						{php $ctr->setValue(number_format(str_replace(array($culture['decimal'], $culture['thousand']), array('.', ''), $ctr->control->attrs['value']), (isset($len[1]) ? $len[1] : '0'), $culture['decimal'], $culture['thousand']))}
					{/if}

				{/if}
				{if $tableView}
					{php $ctr->getControlPrototype()->attrs['class'] = 'span12'}
				{/if}

				{if isset($aggregation->{$field->name}) && $aggregation->{$field->name}->function == 'sum'}
					{php $ctr->getControlPrototype()->attrs['data-aggregate'] = 'sum'}
				{/if}

				{* u tabulky nesmi byt controls class a misto stylu mu nastavime jen sto procent *}
				<div n:class="!$tableView ? 'controls'">
				{if $tableView}
					{$ctr->control|replaceRE:'/width:\s*[0-9a-zA-Z%]+;?/':'width:100%;'|noescape}
					{ifset $ctrId}{$ctrId->control|noescape}{php unset($ctrId)}{/ifset}
				{else}
					{$ctr->control|noescape}
				{/if}
				</div>
			{/if}

		{elseif $isActionButton}
			{if !$tableView}
				{php $label = __($field->caption)}
				<label class="control-label">{$label|placeValues:$data,$culture|noescape}</label>
			{/if}
			<div n:class="!$tableView ? 'controls'">
				{include '_actionbutton.latte' f => $field, forceLink => false, data => $data}
			</div>
		{else}
			<div class="alert alert-error dontClose">Component {=implode('.',$namePath)} not found.</div>
		{/if}

	{/if}
</div>
{/if}
