{foreach $description->rows as $row}
<div class="row-fluid">
	{php $colw = floor(12/count($row->columns))}
	{foreach $row->columns as $col}
	<div class="span{=($col->size ? $col->size : $colw)|noescape}{if $spanBlock} span-block{/if}">        
        
        {php $tabsType = $col->getChildrenType() === Abra\Service\FormColumn::CHILDREN_TYPE_TABS}
        {php $tabsName = uniqid('tab')}
        <div class="jqui-tabs" n:tag-if="$tabsType">
            <ul n:if="$tabsType">
                {foreach $col->children as $stIndex => $section}
                    <li><a href="#{$tabsName}-{$stIndex}">{__($section->caption)|placeValues:$data,$culture}</a></li>
                {/foreach}
            </ul>            
            {foreach $col->children as $stIndex => $section}
                <div n:class="$tabsType ? 'jqui-tab' : 'fieldset'" id="{$tabsName}-{$stIndex}">
                    <div class="legend" n:if="!$tabsType && !empty($section->caption)">{__($section->caption)|placeValues:$data,$culture|noescape}</div>
                    {foreach $section->fields as $field}
                        {php $namePath = explode('.', $field->name);}

                        {if count($field->fields) <= 0}
                            {include '_formfield.latte' 'field'=>$field, 'namePath'=>$namePath, 'data'=>$data, 'form'=>$form, 'tableView'=>FALSE}
                        {/if}

                        {if count($field->fields) > 0}

                            {php $collection = $data; }
                            {foreach $namePath as $npPart} {php $collection = $collection->$npPart} {/foreach}
                            {if count($collection) > 0}
                                {php $tableIndex++}
                                {* Je to Preview kolekce souboru ? *}
                                {if !empty($field->control) && $field->control->element instanceof \Abra\Service\Preview}

                                    {include '_preview_collection.latte', 'field'=>$field, 'collection'=>$collection}

                                {else}
                                    <style type="text/css">
                                    @media only screen and (max-width: 1139px{*979px*}) { 
                                        [class*="span"], .row-fluid [class*="span"] { width: 100%; }
                                        {foreach $field->fields as $f}
                                        {php $pos = $iterator->counter}
                                        .table-index-{$tableIndex} td:nth-of-type({$pos}):before { content: '{__($f->caption)}'; text-overflow: ellipsis; overflow: hidden; }
                                        {/foreach}
                                        .table-index-{$tableIndex} td:nth-of-type({$pos+1}):before { content: '{_'Akce'}'; }
                                    }
                                    </style>

                                    <table class="table table-index-{$tableIndex} table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                {php unset($aggregate)}
                                                {foreach $field->fields as $f}
                                                    <th n:class="$f->isRightAligned() ? text-right"{if !empty($f->style)} style="{$f->getStyle()->renderHeaderCSS()|noescape}"{/if}> {* $f->name != 'CanDelete' *}
                                                        <span class="th-field-name" title="{__($f->caption)}">{__($f->caption)}</span>
                                                    </th>
                                                    {php if(isset($f->control->settings->aggregation) && $f->control->settings->aggregation == 'sum') $aggregate[$f->name] = (object)['function' => 'sum', 'value' => null] }
                                                {/foreach}
                                                {*? $deletable = false}
                                                {foreach $collection as $c}
                                                    {if (isset($c->CanDelete) && $c->CanDelete)}
                                                        {php $deletable = true}
                                                    {/if}
                                                {/foreach*}
                                                {if empty($forceViewOnly) && (trim($field->display) == 'editable')}<th></th>{/if}</tr> {* remove buttons *} {* || $deletable *}
                                                {php $aggregateSender = isset($aggregate) ? (object) $aggregate : null }
                                        </thead>
                                        <tbody>
                                            {foreach $collection as $index => $colItem}
                                            <tr>
                                                {php $deletedFlagOut = FALSE}
                                                {foreach $field->fields as $f} {php $fName = $f->name; $style = $f->getStyle() ? $f->getStyle()->renderTableCSS() : ""}
                                                <td{if !empty($style)} style="{$style|noescape}"{/if}> {* v tabulce se musi styly dat do TD a vyhodit z FIELDU *} {*&& $fName != 'CanDelete'*}
                                                    {php $style = NULL}
                                                    {if isset($f->control->element) && $f->control->element instanceof \Abra\Service\ActionButton}
                                                        {include '_actionbutton.latte' f => $f}
                                                    {elseif isset($f->control->element) && $f->control->element instanceof \Abra\Service\Link}
                                                        {include '_link.latte' field=>$f, data=>$colItem}
                                                    {elseif isset($f->control->element) && $f->control->element instanceof \Abra\Service\PreviewPDF}
                                                        {include '_previewpdf.latte' field=>$f, data=>$colItem}
                                                    {elseif isset($f->control->element) && $f->control->element instanceof \Abra\Service\Route}
                                                        {php $e = $f->control->element}
                                                        <a{if $e->targetBlank} target="_blank"{/if} href="{$e->getHref($presenter, $colItem->getId())}">{$colItem->$fName|noescape}</a>
                                                    {else}
                                                        {*!$colItem->$fName*}
                                                        {*? $newNamePath = array_merge($namePath, array($index, $fName))*}
                                                        {php $newNamePath = $namePath}
                                                        {php $fNameParts = explode('.', $fName)}
                                                        {php $newNamePath[] = $index}
                                                        {foreach $fNameParts as $fNamePart}{php $newNamePath[] = $fNamePart}{/foreach}
                                                        {include '_formfield.latte' 'field'=>$f, 'namePath'=>$newNamePath, 'data'=>$colItem, 'aggregation'=>$aggregateSender, 'form'=>$form, 'tableView'=>TRUE, 'deleteFlag'=>!$deletedFlagOut}
                                                    {/if}
                                                </td>
                                                {php $deletedFlagOut = TRUE}
                                                {/foreach}
                                                {*? dump($colItem)*}
                                                {if empty($forceViewOnly)}
                                                    {if trim($field->display) == 'editable'}
                                                        <td class="form-table-actions-cell">
                                                        {block|strip}
                                                            {if (isset($colItem->CanDelete) && $colItem->CanDelete) || (!isset($colItem->CanDelete))}
                                                            <button type="button" class="btn btn-danger" title="{_"Odebrat"}" data-delete-row="table-index-{$tableIndex}" data-confirm-message="{_'Opravdu chcete odebrat tento řádek?'}">
                                                                <i class="svgi svgi-trash"></i>
                                                            </button>
                                                            {/if}
                                                            <button type="button" class="btn btn-info" title="{_"Vytvořit kopii"}" data-copy-row="table-index-{$tableIndex}">
                                                                <i class="svgi svgi-copy"></i>
                                                            </button>
                                                        {/block}
                                                        </td>
                                                    {*{elseif isset($colItem->CanDelete) && !empty(trim($colItem->CanDelete))}
                                                        <td>
                                                            <button type="button" class="btn btn-danger" title="{_"Smazat"}" data-delete-row="table-index-{$tableIndex}" data-confirm-message="{_'Opravdu chcete smazat tuto přílohu?'}">
                                                                <i class="icon-trash"></i>
                                                            </button>
                                                        </td>												
                                                    {elseif $deletable}
                                                        <td></td>*}
                                                    {/if}
                                                {/if}
                                            </tr>
                                            {/foreach}

                                            {ifset $aggregateSender}
                                                {php foreach ($aggregateSender as $a) if (!empty($a->value)) $showAggregationLine = true}
                                                <tfoot {if !isset($showAggregationLine)}style="display:none"{/if}>
                                                <tr>
                                                    {foreach $field->fields as $f}
                                                    <td class="aggregation-border{if !isset($aggregateSender->{$f->name})} hide-mobile{/if}{if $f->isRightAligned()} text-right{/if}">
                                                        {ifset $aggregateSender->{$f->name}}
                                                            {* aggregate vzdy cislo *}
                                                            <strong class="aggregated-value">{$aggregateSender->{$f->name}->value|abraType:$culture,'from','dtFloat',',2'|noescape}</strong>
                                                        {/ifset}
                                                    </td>
                                                    {/foreach}
                                                    {if empty($forceViewOnly)}
                                                        <td n:if="trim($field->display) == 'editable'" class="aggregation-border hide-mobile">&nbsp;</td>
                                                    {/if}
                                                </tfoot>
                                            {/ifset}


                                        </tbody>
                                    </table>

                                    {if empty($forceViewOnly)}
                                        <div n:if="trim($field->display) == 'editable'" class="text-right">
                                            <button type="button" class="btn btn-primary" data-clone-row="table-index-{$tableIndex}">
                                                <i class="icon-plus icon-white"></i> Přidat
                                            </button>
                                        </div>
                                    {/if}
                                {/if}
                            {else}
                            <p class="hero-unit"><em>{__('Žádná data')}</em></p>
                            {/if}
                        {/if}

                    {/foreach}
                </div>
            {/foreach}
        </div>
	</div>
	{/foreach}
</div>
{/foreach}