{php $lnk = ($field->control->element->href|placeValues:$data,$culture,false,true)}
{php $fName = $field->name}
{php $fn = explode('.', $data->$fName)}
{php $elmnt = $field->control->element}
{if $fName == 'CanDelete'}
	{if isset($data->CanDelete) && $data->CanDelete}
		<a target="_blank" 
		   class="btn{if !empty($elmnt->class)} {$elmnt->class|noescape}{/if}" 
		   n:href="deleteFile! r=>base64_encode($lnk), f=>base64_encode($data->$fName)" 
		   class="file {=strtolower(end($fn))}"
		   data-confirm-msg="{_'Opravdu chcete smazat tuto přílohu?'}"
		   >
			{if !empty($elmnt->text)}{$elmnt->text|noescape}{else}<i class="svgi svgi-trash"></i>{/if}
		</a>
	{/if}
{else}
    {if $elmnt->type === 'link'}
        <a{if $elmnt->newWindow} target="_blank"{/if} href="{$defaultBaseLink}{$lnk}" class="generic-link{if !empty($elmnt->class)} {$elmnt->class|noescape}{/if}"{if !empty($elmnt->style)} style="{$elmnt->style|noescape}"{/if}>{if !empty($elmnt->text)}{$elmnt->text|noescape}{else}{$data->$fName|noescape}{/if}</a>
    {elseif $field->control->element->type === 'download'}
        <a{if $elmnt->newWindow} target="_blank"{/if} n:href="rawDownload! r=>base64_encode($lnk), f=>base64_encode($data->$fName)" class="download-link file {=strtolower(end($fn))}{if !empty($elmnt->class)} {$elmnt->class|noescape}{/if}"{if !empty($elmnt->style)} style="{$elmnt->style|noescape}"{/if}>{if !empty($elmnt->text)}{$elmnt->text|noescape}{else}{$data->$fName|noescape}{/if}</a>
    {/if}
{/if}
