{php $lnk = $template->placeValues($field->control->element->href, $data, $culture,false,true)}
{php $fName = $field->name}
{php $fn = explode('.', $data->$fName)}
{php $style = (string)$field->getStyle()}
<object data="{link rawDownload! r=>base64_encode($lnk), f=>base64_encode($data->$fName), forceInline=>1, forceExt=>'pdf'}" type="application/pdf"{if !empty($style)} style="{$style|noescape}"{/if} width="100%">
	<p><a href="{link rawDownload! r=>base64_encode($lnk), f=>base64_encode($data->$fName), forceInline=>1, forceExt=>'pdf'}">{$fName}</a></p>
</object>