{php $tabsIdent = 'preview-tabs-'.$field->control->element->tabNo}
{php $firstFile = reset($collection)}
{php $loader = $basePath.'/images/ajax-loader_simple.gif'}
{if isset($firstFile->ID) && isset($firstFile->FileName)}
	
	<ul class="nav nav-tabs" id="{$tabsIdent}">
	{foreach $collection as $file}
		<li n:class="$iterator->isFirst() ? active"><a href="#{$tabsIdent}-{$file->ID|removeSpecials}" data-file="{$file->ID}">{$file->FileName}</a></li>
	{/foreach}
	</ul>

	<div class="tab-content preview-tab">
	{foreach $collection as $file}
		<div n:class="$iterator->isFirst() ? 'tab-pane active' : 'tab-pane'" id="{$tabsIdent}-{$file->ID|removeSpecials}">
			<p class="text-center">{_'Načítám...'}</p>
			<p class="text-center"><img src="{$loader}" alt="{_'Načítám...'}"/></p>
		</div>
	{/foreach}
	</div>
	
	<div id="{$tabsIdent|noescape}-temp" style="visibility:hidden;position:absolute;z-index:-1"></div>

	<script type="text/javascript" n:syntax="double">
		$(function() {
								
			var previews = {};
			{{foreach $collection as $file}}
				{{php $lnk = $presenter->link('rawDownload!', array(
					'r' => base64_encode(str_replace('{ID}', $file->ID, $field->control->element->href)),
					'f' => base64_encode($file->FileName),
					'forceInline' => $field->control->element->isForceInline($file->FileName)
				))}}
				previews[{{$file->ID|removeSpecials}}] = {{$field->control->element->generatePrevewFor($file, $field, $lnk, $translator, $loader)}};
			{{/foreach}}
				
			var tmp = $('#{{$tabsIdent|noescape}}-temp');

			var showTab = function(linkEl) {
				var fileId = $(linkEl).data('file');
                var fileIdSanitized = fileId.toString().replace(/[^0-9A-Za-z]/g, '_');
				var tabDiv = $('#{{$tabsIdent|noescape}}-' + fileIdSanitized);
				if(!tabDiv.data('loaded')) {
					tabDiv.data('loaded', 1);
					tmp.html(previews[fileIdSanitized]);
					{{* Pokud je to obrazek pockame na nacteni *}}
					if(tmp.find('img').length > 0) {
						tmp.find('img').on('load', function() {
							tabDiv.html('').append(tmp.find('img'));
						});
					}
					else {
						tabDiv.html(tmp.html());
					}
				}
                
                // fix height of PDF PREVIEW
                var iOSMac = navigator.platform && /iPad|iPhone|iPod|Mac/.test(navigator.platform);
                var previewTab = tabDiv.closest('.preview-tab');
                var previewTabParent = previewTab.parent();
                if(iOSMac) {
                    var remaining = previewTabParent.find('ul').outerHeight(true) + previewTabParent.find('.legend').outerHeight(true);
                    previewTab.css({ 'height': (previewTabParent.innerHeight() - remaining).toString() + 'px' });
                }
                else {
                    var remaining = previewTabParent.find('ul').outerHeight(true) + previewTabParent.find('.legend').outerHeight(true);
                    previewTab.css({ 'height': 'calc(100% - ' + remaining + 'px)' });
                }
                // \\ fix height of PDF PREVIEW
                
				$(linkEl).tab('show');
			};

			$('#{{$tabsIdent|noescape}} li a').click(function(e) {
				e.preventDefault();
				showTab(this);
			});

			showTab($('#{{$tabsIdent|noescape}} a[data-file="{{$firstFile->ID|noescape}}"]').get(0));
		});
	</script>

{else}
	<div class="alert-danger alert">Chybí ID nebo FileName</div>
{/if}
{*? dump($field); dump($collection)*}