{foreach $xApproveTypeButtons[$formName] as $xApproveTypeButton}
	<span>
		<button 
			class="btn {if $xApproveTypeButton->buttontype}btn-{$xApproveTypeButton->buttontype}{/if}" 
			type="button"
			data-x-approve-button-field="{$APPROVE_FIELD_NAME}"
			data-x-approve-button-value="{$xApproveTypeButton->value}">
				{__($xApproveTypeButton->caption)}
		</button>
	</span>
{/foreach}
