{* Vychozi implementace zobrazeni formu *}
{php $tableIndex = 0}

{form $formName class=>'form-horizontal'.(!empty($isFilterForm) ? ' filter-form' : '')}

	{include '_form-fields.latte' form=>$form, description=>$description, tableIndex=>$tableIndex}

	{if empty($forceViewOnly)}	
	<div class="row-fluid">
		<div class="span12">
			<div class="form-actions span-block">
				<span class="pull-left">
					{if !empty($isFilterForm)}
						{ifset $form['massprint']}
							<button class="btn middle-inline-block" type="submit" name="{$form['massprint']->name}">
								<span class="icon-print"></span>
								<span>{$form['massprint']->caption}</span>
							</button>
						{/ifset}
					{/if}
				</span>
				<span class="pull-right">
					{ifset $form['validate']}{input validate class=>'btn validate-ajax'}{/ifset}
					{if empty($isFilterForm)}
						{php $ref = $presenter->getParameter('ref', NULL)}
						{if empty($ref)}
							<a n:href="default" class="btn-link middle-inline-block">{_'Zpět'}</a>
						{else}
							<a href="{$ref}" class="btn-link middle-inline-block">{_'Zpět'}</a>
						{/if}
					{/if}

					{ifset $form['cancelFilter']}{input cancelFilter class=>'btn middle-inline-block', data-cancel-filter=>'1'}{/ifset}

					<div class="btn-group middle-inline-block">
                        
                        {var $filterEdit = isset($module) && $module->isAllowed('filteredit')}
                        {var $filterGlobalEdit = isset($module) && $module->isAllowed('filterglobaledit')}
                                
                        {php $gtc = 1}
                        {if !empty($xApproveTypeButtons[$formName])}
                            {php $gtc = count($xApproveTypeButtons[$formName])}
                        {/if}
                        {if !empty($isFilterForm) && ($filterEdit || $filterGlobalEdit)}
                            {php $gtc += 1}
                        {/if}
                        {php $gtcText = ' 1fr'}
                        
                        <div class="same-width-buttons-right" style="grid-template-columns:{$gtcText|repeat:$gtc}">
                            {if !empty($xApproveTypeButtons[$formName])}
                                {include _x_approve_type_buttons.latte formName => $formName}
                                <span class="hide">{input submit class=>'btn btn-primary'.(empty($isFilterForm) ? ' ajax' : '')}</span>
                            {else}
                                <span>{input submit class=>'btn btn-primary'.(empty($isFilterForm) ? ' ajax' : '')}</span>
                            {/if}

                            {if !empty($isFilterForm)}
                                {if $filterEdit || $filterGlobalEdit}
                                <span>
                                    <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown"><span class="icon-white icon-chevron-down icon-nomargin" style="padding: initial;"></span></a>
                                    <ul class="dropdown-menu">
                                        {if $filterEdit}
                                            <li>{$form['saveMainSubmit']->control}</li>
                                        {/if}
                                        {if $filterGlobalEdit}
                                            <li>{$form['saveGlobalSubmit']->control}</li>
                                        {/if}
                                    </ul>
                                </span>
                                {/if}
                            {/if}
                        </div>
					</div>

					{if isset($orderby)}
						{input orderby, value=>$orderby}
						{input orderbydir, value=>$orderbydir}
					{/if}
				</span>
			</div>
		</div>
	</div>
	{else}
	<div class="row-fluid">
		<div class="span12 text-right">
			<span>
				<a n:href="default" class="btn">{_'Zpět na výpis'}</a>
			</span>
		</div>
	</div>
	{/if}

	<div class="hidden hidden-fields">
	{foreach $form->getControls() as $control}
		{if $control instanceof Nette\Forms\Controls\HiddenField && !$control->getOption('rendered')}
			{php $c = $control->getControl(); $c->setType('text')}{$c}
		{/if}
	{/foreach}
	</div>

{/form}

<script type="text/javascript" n:syntax="double">
	$(function() {
		var filterForm = $('form[id*=filterForm]');

		filterForm.find('[name=saveMainSubmit]').bind('click', function(e) {
			var name = window.prompt({{_'Zadejte název vašeho filtru:'}});
			if(name)
			{
				filterForm.find('input[name=_filterName]').val(name);
			}
			else
			{
				e.preventDefault();
			}
		});

		// Save current filter as global
		filterForm.find('[name=saveGlobalSubmit]').click(function(e) {
			var name = window.prompt({{_'Zadejte název společného filtru:'}});
			if(name)
			{
				filterForm.find('input[name=_filterName]').val(name);
			}
			else
			{
				e.preventDefault();
			}
		});

	});
</script>
