{* Vychozi implementace zobrazeni listu ,(min-device-width: 768px) and (max-device-width: 1024px) *}
<style type="text/css">
@media only screen and (max-width: 1139px{*1023px*}) {
	{php $pos = 1}
	{if $module->isMassAllowed()}
		.table td:nth-of-type({$pos}):before { content: ""; }
		{php $pos++}
	{/if}
	{foreach $description->fields as $field}
		.table td:nth-of-type({$pos}):before { content: "{__($field->caption)|noescape}"; text-overflow: ellipsis; overflow: hidden; }
		{php $pos++}
	{/foreach}
	.table td:nth-of-type({$pos}):before { text-align: left; content: "{__('Akce')}"; }
}
</style>

<div class="row-fluid">
	<div class="span12">
        
        <div class="button-form-row">

			{if !empty($entityFilters)} {*$module->isAllowed('filteredit') || $module->isAllowed('filterglobaledit') || !empty($entityFilters)*}
				{form filterListForm class=>'form-horizontal no-margin-bottom', style=>'display:inline-block'}
                    {*<fieldset>
                    <legend>{_'Přednastavené filtry'}</legend>*}
                    <div class="control-group no-margin-bottom">
						{*input filter}	{dump $form['filter']->items*}
						<select name="filter" id="{$form['filter']->htmlId}" data-nette-empty-value="" style="width:auto;">
                            <option>-</option>
							{foreach $form['filter']->items as $value => $itemsOrCaption}
								{if is_array($itemsOrCaption)}
									<optgroup label="{$value}">
										{foreach $itemsOrCaption as $val1 => $caption}
											<option value="{$val1}"{if $form['filter']->value === $val1} selected="selected"{/if}{if isset($entityFiltersHash[$val1]) && $entityFiltersHash[$val1]->Default} style="color:red"{/if}>
												{$caption}
												{if isset($entityFiltersHash[$val1]) && $entityFiltersHash[$val1]->Default}(*){/if}
											</option>
										{/foreach}
									</optgroup>
								{else}
									<option value="{$value}"{if $form['filter']->value === $value} selected="selected"{/if}{if isset($entityFiltersHash[$value]) && $entityFiltersHash[$value]->Default} style="color:red"{/if}>
										{$itemsOrCaption}
										{if isset($entityFiltersHash[$value]) && $entityFiltersHash[$value]->Default}(*){/if}
									</option>
								{/if}
							{/foreach}
						</select>
						<div data-visibility-target="savedFilters" style="visibility: hidden" class="btn-group middle-inline-block">

							{*<button type="button" class="btn middle-inline-block" data-action="set-as-default">{_'Nastavit jako výchozí'}</button>
							{input delete class=>'rec-delete btn'}
							*}
							<a class="btn dropdown-toggle" data-toggle="dropdown"><i class="svgi svgi-more"></i></a>
							<ul class="dropdown-menu pull-right">
								{*<li><button type="button" data-action="set-as-default">{_'Nastavit jako výchozí'}</button></li>*}
								<li>{input delete class=>'rec-delete'}</li>
							</ul>
						</div>
					</div>
					{include jsCallbackOnChangeSubmit, form => $form, controlName => 'filter'}

				{*</fieldset>*}
				{/form}

			{/if}

            <a n:if="$filterDescription->rows->count() > 0 || !empty($entityFilters)" class="btn" href="#" data-visibility-toggle="savedFilters" data-toggle="filters">
                <!--<i class="isvgi svgi-filter" title="{__('Editace filtrů')}"></i>-->
                <span class="icon-filter icon-nomargin icon-transparent" title="{__('Editace filtrů')}"></span>
            </a>

            <a class="btn btn-primary" n:if="$module->isAllowed('add')" n:href="add">
                <span class="icon-white icon-plus"></span>
                <span>{__($module->getCaption('add'))}</span>
            </a>

            {if count($module->styles) > 0}
                <a class="btn" href="#" data-toggle="legend">
                    <!--<i class="svgi svgi-info"></i>-->
                    <span class="icon-info-sign icon-nomargin icon-transparent"></span>
{*					<span>{__('Legenda')}</span>*}
                </a>
            {/if}

		</div>

		<div data-toggle-target="filters" style="display:none">
			<div n:if="!empty($filterFormName)">
				{include 'default-form.latte',
					description => $filterDescription,
					data => array(),
					formName => $filterFormName,
					spanBlock => TRUE,
					isFilterForm => TRUE,
					orderby => $orderby,
					orderbydir => $orderbydir
				}
			</div>
		</div>           

        {if count($module->styles) > 0}
        <div data-toggle-target="legend" style="display:none">

            <div class="fieldset">
                <div class="legend">{_'Legenda'}</div>
                <ul class="legend-list">
                    {foreach $module->styles as $style}
                        <li>{$style|styleLegend|noescape}</li>
                    {/foreach}
                </ul>
            </div>
        </div>
        {/if}

	{if !empty($data)}
		{form massForm}

			<table class="table table-striped table-bordered list-table">
				<thead>
					<tr>
						<th n:if="$module->isMassAllowed()" class="table-checkbox"><input type="checkbox" class="checkall" /></th>
						{foreach $description->fields as $field}
						<th n:class="$field->isRightAligned() ? text-right"{if !empty($field->style)} style="{$field->style->__toString()|noescape}"{/if}> {* n:tag-if="empty($field->sortfield)"*}
							<a n:tag-if="!empty($field->sortfield)" n:href="sort! field => $field->name" class="th-field-name-link">
                                <span class="th-field-name" title="{__($field->caption)}">{__($field->caption)}</span><span n:if="!empty($field->sortfield)" class="th-field-sort{if $orderby == $field->sortfield} th-field-sort-active th-field-sort-{if $orderbydir == 'asc'}asc{else}desc{/if}{/if}">
                                    <svg version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path d="M28,14H8.8l4.62-4.62C13.814,8.986,14,8.516,14,8c0-0.984-0.813-2-2-2c-0.531,0-0.994,0.193-1.38,0.58l-7.958,7.958  C2.334,14.866,2,15.271,2,16s0.279,1.08,0.646,1.447l7.974,7.973C11.006,25.807,11.469,26,12,26c1.188,0,2-1.016,2-2  c0-0.516-0.186-0.986-0.58-1.38L8.8,18H28c1.104,0,2-0.896,2-2S29.104,14,28,14z"/>
                                    </svg>
                                </span>
                            </a>
						</th>
						{/foreach}
						<th class="text-right" width="1%"></th>
					</tr>
				</thead>
				<tbody>
					{foreach $data as $row}
					{php $rowStyles = $module->applyStyles($row)}
					<tr{$rowStyles|noescape}>
						<td n:if="$module->isMassAllowed()" class="table-checkbox">
							{* Pokud je massform akce povolena pro tento radek zobrazime checkbox *}
							{if $module->isActionAllowedFor('massform', $row)}
								{input 'id-'.AbraHelpers::webalizeId($row->getId()):}
							{/if}
						</td>
						{foreach $description->fields as $field}
							{php $fName = $field->name}
							<td{if !empty($field->style)} style="{$field->style->__toString()|noescape}"{/if}>
								{* File download *}
								{if isset($field->control->element) && $field->control->element instanceof \Abra\Service\Link}
									{include '_link.latte' field=>$field, data=>$row}
								{elseif isset($field->control->element) && $field->control->element instanceof \Abra\Service\PreviewPDF}
									{include '_previewpdf.latte' field=>$field, data=>$row}
								{else}
									{$fName|objectValue:$row,$culture|noescape}
								{/if}
							</td>
						{/foreach}
						<td class="text-right list-actions">{$module|renderActions:$row|noescape}</td>
					</tr>
					{/foreach}
				</tbody>
			</table>

			{* Paging *}
			<div class="pull-right form-horizontal pagination-info">
				<div class="control-group">
					<label for="perpage" class="control-label">
						{$paginator->offset+1}<span>-</span>{$paginator->offset+$paginator->length}<span>/</span>{$paginator->itemCount}
						<span style="margin: 0 10px">{_'Záznamů na stránku:'}</span>
					</label>
					<div class="controls">
						<select id="perpage">
							{foreach $perPages as $pp}
							<option {if $pp == $limit} selected="selected"{/if}>{$pp}</option>
							{/foreach}
						</select>
					</div>
				</div>
			</div>
			{if $paginator->pageCount > 1}
				<ul class="pagination">
					<li n:class="$paginator->first ? 'unavailable'">
						<a n:tag-if="!$paginator->first" class="prev-next" href="{link this, p => ($paginator->page-1) == 1 ? 1 : ($paginator->page-1)}">
							<span n:tag-if="$paginator->first" class="prev-next"><i class="icon-chevron-left"></i></span>
						</a>
					</li>

					<li class="separator"></li>

					{foreach $steps as $step}
					<li n:class="$step == $paginator->page ? 'current'">
						{if $step == 1}<a href="{link this, p => 1}" data-page="{$step|noescape}">{else}<a href="{link this, p => $step}" data-page="{$step|noescape}">{/if}{$step}</a>
					</li>
					<li n:if="$iterator->nextValue > $step+1" class="unavailable"><span>&hellip;</span></li>
					{/foreach}

					<li class="separator"></li>

					<li n:class="$paginator->last ? 'unavailable'">
						<a n:tag-if="!$paginator->last" class="prev-next" href="{link this, p => $paginator->page + 1}">
							<span n:tag-if="$paginator->last" class="prev-next"><i class="icon-chevron-right"></i></span>
						</a>
					</li>
				</ul>
			{/if}
			{* Paging *}


			{ifset $form['massdelete']}
				<button type="submit" name="{$form['massdelete']->name}" id="{$form['massdelete']->htmlId}" class="btn btn-danger btn-massdelete">
					<i class="svgi svgi-copy"></i>
					<span>{$form['massdelete']->caption}</span>
				</button>
			{/ifset}
			{*ifset $form['massprint']}
				<button type="submit" name="{$form['massprint']->name}" id="{$form['massprint']->htmlId}" class="btn btn-massprint">
					<span class="icon-print"></span>
					<span>{$form['massprint']->caption}</span>
				</button>
			{/ifset*}
			{ifset $form['massform']}
				<hr />
                <div class="massform-wrapper">
                    {php $tableIndex = 0}
                    {include '_form-fields.latte'
                            form => $form,
                            description => $massDescription,
                            tableIndex => $tableIndex,
                            data => $massData,
                            formName => 'massform',
                            spanBlock => FALSE
                    }

                    {php $formName = $form->getName()}

                    {php $gtc = 1}
                    {if !empty($xApproveTypeButtons[$formName])}
                        {php $gtc = count($xApproveTypeButtons[$formName])}
                    {/if}
                    {php $gtcText = ' 1fr'}                
                    <div class="middle-inline-block">
                        <div class="same-width-buttons-left"style="grid-template-columns:{$gtcText|repeat:$gtc}">
                            {if !empty($xApproveTypeButtons[$formName])}
                                {include _x_approve_type_buttons.latte formName => $formName}
                                <span class="hide">
                                    <button type="submit" name="{$form['massform']->name}" id="{$form['massform']->htmlId}" class="btn btn-massform btn-primary">
                                        <span>{$form['massform']->caption}</span>
                                    </button>
                                    {*input submit class=>'btn btn-primary ajax hide'*}
                                </span>
                            {else}
                                <span class="hide">
                                    <button type="submit" name="{$form['massform']->name}" id="{$form['massform']->htmlId}" class="btn btn-massform btn-primary">
                                        <span>{$form['massform']->caption}</span>
                                    </button>
                                    {*input submit class=>'btn btn-primary ajax'*}
                                </span>
                            {/if}
                        </div>
                    </div>
                </div>
			{/ifset}
		{/form}
	{else}
		<p><em>{__('Vašemu výběru neodpovídá žádný záznam.')}</em></p>
	{/if}
	</div>
</div>

<script type="text/javascript" n:syntax="double">
$(function() {

	$('#perpage').change(function() {
		$('.ajax-loader').show();
		window.location.href = {{link setPerPage! pp => '__PP__'}}.replace('__PP__', $(this).val());
	});
    
    $('a[data-toggle]').on('click', function(e) {
        e.preventDefault();
        var btn = $(this);
        var target = $('div[data-toggle-target=' + btn.data('toggle') + ']');
        target.toggle();
        if(target.is(':visible')) {
            btn.addClass('active');
        }
        else {
            btn.removeClass('active');
        }
    });

	{{*if $module->isAllowed('filteredit')}}
	// Save current filter
	$('button[data-action=save-filter]').click(function(e) {
		e.preventDefault();
		var name = window.prompt({{_'Zadejte název vašeho filtru:'}});
		if(name)
		{
			window.location.href = {{link saveFilterPreset! name=>'__NAME__'}}.replace('__NAME__', name);
		}
	});
	{{/if*}}

	{{if $module->isMassAllowed() && $checkall}}
	$(".checkall").click();
	{{/if}}

	{{if $module->isAllowed('filterglobaledit')}}
	// Set filter as default
	$('button[data-action=set-as-default]').click(function(e) {
		e.preventDefault();
		var form = $(this).closest('form');
		var val = form.find('select[name=filter]').val();
		if(val && val !== '')
		{
			window.location.href = {{link setDefaultFilterPreset! filterId=>'__ID__'}}.replace('__ID__', val);
		}
		else
		{
			alert({{_'Nejprve si vyberte filtr, který chcete nastavit jako výchozí.'}});
		}
	});
	{{/if}}


	{{*
		$('form[id*=filterListForm] input[name=submit_]').hide();
		$('form[id*=filterListForm] select[name=filter]').change(function() {
			$(this).closest('form').find('input[name=submit_]').trigger('click');
		});
	*}}

});
</script>

{define jsCallbackOnChangeSubmit}
	<script>
		$('#' + {$form[$controlName]->htmlId}).on('change', function(e) {
			e.preventDefault();


            $('.ajax-loader').on('hide', function() {
				$('.ajax-loader').stop();
				$('.ajax-loader').clearQueue().finish();
				$('.ajax-loader').show();
            });

			var form = $("#" + {$form->getElementPrototype()->id});
			form.submit();
		});
	</script>
{/define}
