{var $robots = noindex}

{block content}
	{include #parent}

	<h1 class="clearfix">{__('Změna hesla')}</h1>

	<div class="row-fluid">

		<div class="span12 span-block">

		{form changePasswordForm class=>'form-horizontal'}

			{foreach $form->getErrors() as $error}
				<div class="alert alert-error dontClose">
					<button class="close" data-dismiss="alert">&times;</button>
					<span>{$error}</span>
				</div>
			{/foreach}

			<div class="fieldset">

				<div class="control-group">
					{label oldPassword class=>'control-label' /}
					<div class="controls">{input oldPassword}</div>
				</div>

				<div class="control-group">
					{label newPassword class=>'control-label' /}
					<div class="controls">{input newPassword}</div>
				</div>

				<div class="control-group">
					{label checkPassword class=>'control-label' /}
					<div class="controls">{input checkPassword}</div>
				</div>
				
				<div class="control-group no-margin">
					<div class="controls">{input submit class=>'btn btn-primary'}</div>
				</div>

			</div>

		{/form}
		</div>

	</div>

{/block}