{block content}
	{include #parent}

	<h1 class="clearfix"><span>{_'Editace profilu'}</span></h1>

	{include '../common/default-form.latte',
		description => $description,
		data => $data,
		formName => 'profileForm',
		spanBlock => TRUE
	}

{/block}