{var $robots = noindex}

{block loaderMessage}{__('Přihlášení uživatele...')}{/block}

{block content}
	{include #parent}


	<div class="row-fluid">

		<div class="span12 span-block sign-in">

		{form signInForm class=>'form-horizontal'}

			{foreach $form->getErrors() as $error}
				<div class="alert alert-error dontClose">
					<button class="close" data-dismiss="alert">&times;</button>
					<span>{$error}</span>
				</div>
			{/foreach}

			<div class="text-center">
                <h1 class="clearfix">{__('Vítejte v online schvalování')}{ifset $oneConnectionName} <span style="white-space:nowrap">{$oneConnectionName|noescape}{/ifset}</span></h1> {* Přihlášení uživatele *}

				<div class="fieldset text-center self-center">

					{include '../_oldbrowser.latte'}

					<div class="row-fluid" n:ifset="$form['connection']">
						{label connection class=>'span3' /}
						<div class="span7">{input connection}</div>
					</div>

					<div class="row-fluid">
						{label username class=>'span3' /}
						<div class="span7">{input username}</div>
					</div>

					<div class="row-fluid">
						{label password class=>'span3' /}
						<div class="span7">
                            <span class="password-field-wrapper">
                                {input password class=>'password-field'}
                                <a href="#" class="password-eye">
                                    <img src="{$basePath}/images/icons/eye-slash.svg" class="password-eye-no" style="display: inline" title="{_'Zobrazit heslo'}" />
                                    <img src="{$basePath}/images/icons/eye.svg" class="password-eye-yes" style="display: none" title="{_'Skrýt heslo'}" />
                                </a>
                            </span>
                        </div>
					</div>

					<div class="control-group submit">
						{input submit class=>'btn btn-primary'}
					</div>

				</div>
			</div>

		{/form}
		</div>

	</div>

{/block}
{block scripts}
    {include #parent}
    <script type="text/javascript">
        $(function() {
            var pwdField = $('.password-field');
            var pwdEye = $('.password-eye');
            var pwdEyeNo = $('.password-eye-no');
            var pwdEyeYes = $('.password-eye-yes');
            pwdEye.on('click', function(e) {
                e.preventDefault();
                var pwdVisible = pwdEyeYes.is(':visible');
                if(pwdVisible) {
                    pwdField.prop('type', 'password');
                    pwdEyeYes.hide();
                    pwdEyeNo.show();
                }
                else {
                    pwdField.prop('type', 'text');
                    pwdEyeYes.show();
                    pwdEyeNo.hide();
                }
            });
        });
    </script>
    {include '../_certCheck.latte'}
{/block}