{block content}

	<h1 class="clearfix">{__('Vyberte spojení')}</h1>

	<div class="row-fluid">

		<div class="span12 span-block">

            <h2>{__('Vyberte spojení')}</h2>
            <br>
            <ul style="margin-bottom:0">
                {foreach $connections as $conn => $connName}
                    <li><a n:href="ntlmLoginConnection! conn => $conn">{$connName}</a></li>
                {/foreach}
            </ul>

        </div>

    </div>

{/block}