$dropdown-padding-x: 1em;
$dropdown-padding-y: .25em;

/* Tlacitka s ikonkama */
.btn {
  background: $button-background-default;
  border-color: $border-color;
  &-primary {
    background: $color-active;
    border-color: $color-active_hover;
    &:focus{
      border-color: $color-active_hover;
    }
    &:hover, &:active{
      background: $color-active_hover;
    }
  }

  // Override Bootstrap
  @at-root input#{&}, a#{&}, button#{&}{
    box-shadow: none;
    box-sizing: border-box;
    height: $button-size;
    line-height: $button-size;
    padding-top: 3px;
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: none;
    &:focus{
      outline: 0;
    }

    &.dropdown-toggle{
      box-shadow: none;
    }
  }
}

.btn > [class^="icon-"] {
  margin: 1px 0
}

.btn > span:first-child {
  padding-right: 2px
}

table td.action-cell a.btn > span:first-child {
  padding-right: 0
}

.btn.dropdown-toggle .caret {
  margin-top: $button-size - 4 / 2;
}



/* Button group with actions */
.btn-group::before, .btn-group::after {
  line-height: 0;
  font-size: 0;
}

.btn-group.pull-right .nowrap {
  white-space: nowrap;
}

.btn-group.pull-right .btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0
}

.btn-group.pull-right .btn.dropdown-toggle {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0
}

.btn-group.pull-right .dropdown-menu li a span {
  vertical-align: middle
}

.btn-group.pull-right .dropdown-menu li a span.drop-down-action-caption {
  padding-left: 5px;
}


/* Select */
select {
  height: $button-size;
}



/* Button group with actions */
.btn-group::before, .btn-group::after { line-height: 0; font-size: 0; }
.btn-group.pull-right .nowrap { white-space: nowrap; }
.btn-group.pull-right .btn:first-child { border-top-right-radius: 0; border-bottom-right-radius: 0; -moz-border-top-right-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; -webkit-border-top-right-radius: 0 }
.btn-group.pull-right .btn.dropdown-toggle { border-left: none; border-top-left-radius: 0; border-bottom-left-radius: 0; -moz-border-top-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0 }
.btn-group.pull-right .dropdown-menu li a span { vertical-align: middle }
.btn-group.pull-right .dropdown-menu li a span.drop-down-action-caption { padding-left: 5px; }


.rec-delete .icon-remove { background-color: red }
.rec-delete .icon-remove + span { color: red }
.rec-delete:hover .icon-remove { background-color: transparent }
.rec-delete:hover .icon-remove + span { color: white }

input.rec-delete { color: red !important }
input.rec-delete:hover { color: white !important }

.filtering-tabs { float: left; }
label.shrinked { width: 90px !important; }
div.controls.shrinked { margin-left: 100px !important }

.dropdown-menu {
  input, button {
    width: 100%;
    display: block;
    padding: $dropdown-padding-y $dropdown-padding-x;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #333;
    white-space: nowrap;
    border: 0;
    outline: 0;
    text-align: left;

    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;

    text-shadow: none;
    background: transparent;


    &:hover{
      background-color: $color-active-blue_hover;
      color: $white;
    }
  }

  a {

  }

  [class*="icon-"]~.drop-down-action-caption{
    padding: $dropdown-padding-x / 2;
  }
}
