$dropdown-padding-title: $span-padding/3;
$dropdown-padding-item: $span-padding/2 ($span-padding*2);

.dropdown-menu {
    min-width: max-content;
}
.dropdown-menu li.title {
    padding: .5em 1em;
}
/*.dropdown-menu li a, .dropdown-item {
    padding: .5em 2em;
}*/

.dropdown-menu li>a:hover, .dropdown-menu .active>a:hover {
    background-color: $color-active-blue_hover;
}
.dropdown-menu .active>a {
    background-color: $color-active-blue;
}


.dropdown{
  &-menu {
    border: 0;
    border-radius: 0;
    min-width: auto;
    padding: 0;

    box-shadow: $box-shadow-dropdown;
    -moz-box-shadow: $box-shadow-dropdown;
    -webkit-box-shadow: $box-shadow-dropdown;

    input, button {
      border: 0;
      clear: both;
      display: block;
      font-weight: normal;
      outline: 0;
      padding: $dropdown-padding-item;

      text-align: left;
      white-space: nowrap;
      width: 100%;

      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;

      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;

      background: transparent;

      &:hover{
        background-color: $color-active_hover;
        color: white;
      }
    }

    li {
      a {
        padding: $dropdown-padding-item;
      }

      &.title{
        padding: $span-padding $span-padding;
      }

      &.divider{
        padding: 0;
        margin: 0;
      }
    }

    hr {
      margin-top: $dropdown-padding-title;
      margin-bottom: $dropdown-padding-title;
    }
    .title{
      padding-left: $dropdown-padding-title;
      padding-right: $dropdown-padding-title;
    }
  }

  &-item{
    padding: $dropdown-padding-item;
  }
}