$PATH_TO_FONTS: '../../fonts/';

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  src: local('Gotham-Light')
      , url('#{$PATH_TO_FONTS}Gotham-Light.otf') format("opentype")
      , url('#{$PATH_TO_FONTS}Gotham-Light.woff') format('woff')
      , url('#{$PATH_TO_FONTS}Gotham-Light.ttf') format('truetype')
      , url('#{$PATH_TO_FONTS}Gotham-Light.svg') format('svg');
}

@font-face{
    font-family: Gotham-Medium;
    src: url(https://d3iaj7131mxdlk.cloudfront.net/19.5.5/Gotham-Medium.15488281.otf) format("opentype")
}

@font-face{
    font-family: Gotham-Book;
    src: url(https://d3iaj7131mxdlk.cloudfront.net/19.5.5/Gotham-Book.cba1837e.otf) format("opentype")
}