$form-spacing-vertical: $table-spacing;
//$form-horizontal-width: 100px;

$form-control-height: $inputs-height;
$form-control-padding-value: floor($inputs-height/6)+1; // 8px;

$form-control-padding: $form-control-padding-value/2 $form-control-padding-value;
$form-control-padding-ta: $form-control-padding-value $form-control-padding-value;

input, button, select, textarea {
    font-family: Gotham-Book;
}
textarea {
    padding: $form-control-padding-ta !important;
}
.text-field {
  line-height: $form-control-height;
  min-height: $form-control-height;
}
label, input, button, select {
    height: $form-control-height;
}
input[type=text], input[type=password], input[type=number], input[type=date], input[type=email], select {
    padding: $form-control-padding !important;
}
label {
    padding-top: $form-control-padding-value+1 !important;
    margin-bottom: 0 !important;
    box-sizing: border-box;
}
.autocomplete-selected-item {
    height: $form-control-height;
    padding: $form-control-padding !important;
    line-height: -10+$form-control-height;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../../images/icons/dropdown-arrow.svg');
    background-position: right $form-control-padding-value center;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-right: 26px !important;
}

input[data-input-type=dtFloat] {
    text-align: right;
}

td label {
    input[type=checkbox] {
        width: auto;
        margin: 0 3px 0 0;
    }
}

label, input, button, select, textarea {
    font-size: $font-normal;
}

.btn {
    font-size: ($font-normal)-1;
}

.form{
  &-actions {
    background: transparent;
    border: 0px;
    padding: 0px;
    margin-top: 0px;

    @at-root .form-horizontal & {
      padding-left: 0px;
    }
  }
  &-horizontal {
    .control{
      &-group {
        margin-bottom: $form-spacing-vertical;

        @media (max-width: $breakpoint-phone-max){
          margin-bottom: $form-spacing-vertical / 2;

          .controls{
              margin-left: 20px;
          }
        }
      }
      &-label{
        @media (max-width: $breakpoint-phone-max){
          margin-bottom: 0;
        }
        //width: $form-horizontal-width;
      }
    }
  }
}

input, textarea, select {
  box-shadow: none;
  box-sizing: border-box;
  border-color: $border-color;
}

input {
  &.input-datetime {
    width: 150px;
    padding-left: 24px !important;
    background-image: url('../../images/icons/calendar.png');
    background-repeat: no-repeat;
    background-position: 4px center
  }

  &[type=text], &[type=password], &[type=number], &[type=date], &[type=email] {
    box-sizing: border-box;
    height: $input-height;
    padding: 4px;
  }

}

legend, .legend {
  border: 0px;
  display: block;
  width: 100%;
  padding: 0;
  line-height: 1;
  margin-bottom: 2em;
  font-size: $font-big;
  font-weight: bold;
}


fieldset, .fieldset{
  border: 1px solid $border-color;
  padding: 1em;
  margin-bottom: $fieldset-margin-bottom;
}

/* Zarovnani doprava */
.text-right {
  text-align: right
}

table .text-right, footer .text-right {
  text-align: right !important
}

.rec-delete .icon-remove {
  background-color: red
}

.rec-delete .icon-remove + span {
  color: red
}

.rec-delete:hover .icon-remove {
  background-color: transparent
}

.rec-delete:hover .icon-remove + span {
  color: white
}

input.rec-delete {
  color: red !important
}

input.rec-delete:hover {
  color: white !important
}

label.shrinked {
  width: 90px !important;
}

div.controls.shrinked {
  margin-left: 100px !important
}
