$icons-svg: (more, build, settings);
$icons-svg-prefix-class: "icon-svg";


[class*=#{$icons-svg-prefix-class}]{
  background-position: 0;
  background-size: $icon-size;
  height: $icon-size;
  width: $icon-size;

}

[class*=#{$icons-svg-prefix-class}-huge-]{
  background-size: $icon-size-huge;
  height: $icon-size-huge;
  width: $icon-size-huge;
}

.#{$icons-svg-prefix-class}{
  @each $icon in $icons-svg {
    &-#{$icon} {
      background-image: url(../../images/icons/#{$icon}.svg);
    }
  }
}
