.col {
    display: block;
}
.grow {
    flex-grow: 1;
}


.logo {
  box-sizing: border-box;
  max-height: $logo-height;
  max-width: $logo-width;
  padding-bottom: $logo-padding;
  padding-top: $logo-padding;

  @media (max-width: $breakpoint-phone-max) {
    max-height: $logo-height * .66;
    max-width: $logo-width * .66;
  }

  &-fragment{
    max-height: $logo-height * .75;
    margin-top: .5em;

    @at-root .user-logged &{
      margin-top: 1.25em;
    }
  }
}

.module-menu-separator {
    margin: 10px 0;
    hr {
        margin: 10px 0;
        border: none;
        height: 1px;
        background: darken($light-background-color, 10%);
    }
}

.module-menu {
    flex-shrink: 0;
    background-color: $menu-background;
    overflow: visible;
    position: relative;
    .for-approve-count {
        position: absolute;
        left: 15px;
        bottom: -3px;
        font-size: 0px !important;
        font-style: normal;
        padding: 0px !important;
        background: $color-active-pink;
        border-radius: 500px;
        width: 9px;
        height: 9px;
        z-index: 1;
    }    
    nav {
        padding: 1em;
        box-sizing: border-box;
        overflow: auto;
        height: 100%;
        min-width: $left-menu-min-width;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a.grayscale {
            text-align: center;
            padding: 0px !important;
            mix-blend-mode: multiply;
            img {
                max-width: 140px;
            }
        }
    }
    
    &.collapsed {
        width: 80px;
        nav {
            min-width: auto;
        }
        nav a.grayscale {
            display: none;
        }
        .module-menu-item {
            a {
                text-align: center;
                padding: 1em 0 1em 0;
                .svg-icon {
                    left: 10px;
                }
                img {
                    position: static;
                    /*height: 23px;*/
                }
                span {
                    display: none;
                }
            }
        }
        .expand-collapse {
            transform: rotate(180deg);
        }
    }
    
    .expand-collapse {
        position: absolute;
        top: calc(50% - 6px);
        right: -12px;
        border: 1px solid $light-background-color;
        border-radius: 1000px;
        display: block;
        width: 24px;
        height: 24px;
        background: $white;
        padding: 0;
        text-align: center;
        font-weight: 100;
        font-family: Gotham-Book;
        font-size: 0px;
        line-height: 24px;
        color: darken($light-background-color, 16%);       
        &:hover {
            text-decoration: none;
        }
        img {
            width: 8px;
            opacity: .2;
        }
    }
    
    a {
        padding: 1em 0;
    }
    .module-menu-item {
        a {
            span.pull-right {
                right: -20px;
                position: relative;
            }
            position: relative;
            padding: 1em 20px 1em 20px;
            height: 50px;
            box-sizing: border-box;
            .svg-icon {
                width: 24px;
                height: 20px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 0;
                position: absolute;
                left: 0;
                padding-left: 0px !important;
                text-align: center;
                svg {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            img {
                height: 19px;
                vertical-align: middle;
                margin-right: 0;
                position: absolute;
                left: 0;
            }
            span {
                vertical-align: middle;
                font-size: $font-normal;
                color: $black;
                padding-left: 10px;
                line-height: 20px;
            }
            
            &:hover {
                background-color: transparent;
                .svg-icon {
                    svg, svg * {
                        fill: $color-active-blue;
                    }
                }
                img {
                    filter: invert(1) sepia(1) saturate(3) hue-rotate(186deg) grayscale(33%);
                }
                span {
                    color: $color-active-blue;
                }
            }
            
            &.active {
                font-weight: 700;
                
                .svg-icon {
                    svg, svg * {
                        fill: $color-active-blue;
                        stroke: $color-active-blue;
                        stroke-width: 0.2px;
                    }
                }                
                img {
                    filter: invert(1) sepia(1) saturate(3) hue-rotate(186deg) grayscale(33%);
                }
                span {
                    color: $color-active-blue;
                }
            }
        }
    }
}

.module-content {
    padding: 20px;
    flex-grow: 1;
    overflow: auto;
}

.max-row-dim {
    background-color: $white;
}

body {
  background-color: $menu-background;
  & > header {
    background: $color-background-head;
    border-bottom: 1px solid $light-background-color;
    box-shadow: $default-shadow;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;    
    height: $header-height;
    z-index: 90;
    padding: 0 20px;
    box-sizing: border-box;    

    .top-span {
      padding: 10px 0
    }

    .header-left{
      &>.span1{
/*        @media (max-width: $breakpoint-tablet-max){*/
        @media (max-width: $breakpoint-desktop-max){
          float: left;
          width: 1 / 12 * 100%;
        }
      }

      &>.span11{
        width: 100%;

        /*@media (max-width: $breakpoint-tablet-max){*/
        @media (max-width: $breakpoint-desktop-max){
          float: right;
          width: 11 / 12 * 100%;
        }
      }
    }

    .row-header {
      & > .span9 {
        float: left;
        @media (max-width: $breakpoint-desktop-max){
          width: 40%;
        }
/*        @media (max-width: $breakpoint-tablet-max){*/
        @media (max-width: $breakpoint-desktop-max){
          width: 20%;
        }
      }
      & > .span3 {
        float: right;
        padding-right: $span-padding;
        margin-left: 0;
        width: 25%;

        @media (max-width: $breakpoint-desktop-huge-max){
          width: 33.333%;
        }
        @media (max-width: $breakpoint-desktop-max){
          width: 60%;
          padding-right: 0;
        }
/*        @media (max-width: $breakpoint-tablet-max){*/
        @media (max-width: $breakpoint-desktop-max){
          width: 80%;
        }
      }
    }
  }

  & > header, & > footer {
    .row-fluid{
      margin-bottom: 0;
    }
  }

  & > .main-content {
    margin: $header-height 0 0 0;
    height: calc(100vh - #{$header-height});
    /*margin: 7em 2em 2em 2em;*/
    /*margin: 2em  (2 * $span-padding);*/
    > .container-fluid {
        height: 100%;
        > .row-fluid {
            height: 100%;
        }
    }
  }

  &.user-logged {
    .header-left{
      &>.span1{
        @media (max-width: $breakpoint-desktop-huge-max) {
          display: none;
        }
      }
      &>.span11{
/*        @media (max-width: $breakpoint-tablet-max){*/
        @media (max-width: $breakpoint-desktop-max){
          width: 100%;
        }
      }
    }
  }
}
