$user-inicials-background: $color-gray-odd;
$user-inicials-size: 3.25em;

$navbar-icons-size: 16px;

$navbar-item-font-size: $font-big;
$navbar-item-spacing-vertical: (1.2 * $span-padding + $logo-padding);
$navbar-height: $navbar-item-font-size + 2 * $navbar-item-spacing-vertical;

.navbar {
  margin-bottom: 0;

  // LEFT
  .nav {

    li a {
      background: $color-background;
      color: $color;
      font-size: $navbar-item-font-size;
      font-weight: bold;
      line-height: 1;
      margin: 0;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      padding: $navbar-item-spacing-vertical $span-padding;
      text-shadow: none;

      &:hover{
        background: $color-background;
        color: $color-active;
      }

      &.active{
        color: $color-active;
        border-bottom: 1px solid $color-active;
        margin-bottom: -1px;
        font-weight: bold;
      }
    }

    &-collapse{
      background: $color-background;

      @media (max-width: $breakpoint-desktop-max){
        &.collapse{
          box-shadow: $box-shadow-dropdown;
          position: absolute;
          top: calc(#{$logo-height} - #{$span-padding});
          z-index: 1;
          li a {
            &.active {
              border-color: $color-background;
            }
          }
        }

        .nav{
          margin: 0;
        }
      }
    }
  }

  @at-root .navbar .btn-navbar{
    background: $button-background-default;
    float: left;
    margin-top: calc(((#{$logo-padding} + #{$logo-height}) - #{$button-size}) / 2);
    padding: 4px 10px;

    &:hover{
      background: $color-active;
    }

    .icon-bar{
      background: $button-background-default;
    }
  }

  .btn-navbar{
    box-shadow: none;
    border-color: $border-color;
  }


  // RIGHT
  &-dropdowns{
    display: table !important;
    font-size: $navbar-item-font-size;
    height: 100%;
    max-height: $navbar-height;
    min-height: $logo-height;

    & > .btn-group{
        display: table-cell;
        padding-left: $span-padding / 2;
        vertical-align: middle;
      & > .btn {
        border: 0 !important;

        &:hover, &.dropdown-toggle{
          background: $color-background;
          box-shadow: none;
        }
        &.dropdown-toggle{
          display: table;
          [class*="icon-"]{
            background-size: $navbar-icons-size;
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
      &.btn-logo {
        padding-left: $span-padding * 2;
        &>*{
          display: inline-block;
          vertical-align: middle;
        }
        .divider-vertical{
          border-left: 1px solid $border-color;
          height: $font-huge;
          line-height: $font-huge;
          margin: calc((#{$logo-height} - #{$divider-vertical-size}) / 2) auto;
          padding-left: $span-padding;
          @at-root .user-logged &{
            margin: calc((#{$logo-height} - #{$user-inicials-size}) / 2) auto;
          }
        }
      }
    }
  }
}

header {
    .navbar {
        display: inline-block;
        vertical-align: top;
        width: 30px;
        .btn-mobile-menu {
            border: none;
            line-height: $inputs-height !important;
            padding: 0;
            margin: 12px 0 0 0;
            &:hover {
                background: transparent;
            }
            img {
                vertical-align: middle;
            }
        }
    }

    .nav {
        li {
            a {
                padding: 1.3em 1em;
            }
        } 
    }
    
    .mobile-module-menu {
        padding: 0px 13px 10px 10px;

        .for-approve-count {
            position: absolute;
            left: 15px;
            bottom: -3px;
            font-size: 0px !important;
            font-style: normal;
            padding: 0px !important;
            background: $color-active-pink;
            border-radius: 500px;
            width: 9px;
            height: 9px;
            z-index: 1;
        }            
        li {
            a {
                position: relative;
                padding: 1em 20px 1em 20px !important;
                height: 50px;
                box-sizing: border-box;
                span.pull-right {
                    right: -20px;
                    position: relative;
                }
                
                .svg-icon {
                    width: 24px;
                    height: 20px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 0;
                    position: absolute;
                    left: 0;
                    padding-left: 0px !important;
                    text-align: center;
                    svg {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                img {
                    height: 19px;
                    vertical-align: middle;
                    margin-right: 0;
                    position: absolute;
                    left: 0;
                }
                span {
                    vertical-align: middle;
                    font-size: $font-normal;
                    color: $black;
                    padding-left: 10px;
                    line-height: 20px;
                }
                
                &:hover {
                    background-color: transparent;
                    .svg-icon {
                        svg, svg * {
                            fill: $color-active-blue;
                        }
                    }
                    img {
                        filter: invert(1) sepia(1) saturate(3) hue-rotate(186deg) grayscale(33%);
                    }
                    span {
                        color: $color-active-blue;
                    }
                }                
                
                &.active {
                    font-weight: 700;

                    .svg-icon {
                        svg, svg * {
                            fill: $color-active-blue;
                            stroke: $color-active-blue;
                            stroke-width: 0.2px;
                        }
                    }                
                    img {
                        filter: invert(1) sepia(1) saturate(3) hue-rotate(186deg) grayscale(33%);
                    }
                    span {
                        color: $color-active-blue;
                    }
                }                
            }
        }
    }
}


.user-inicials{
  &, &.btn{
    background: $color-background;
    display: table;
    height: $user-inicials-size;
    /*width: $user-inicials-size;*/
    padding: 0;

    &-cell{
      background: $user-inicials-background;
      border-radius: $user-inicials-size / 2;
      display: table-cell;
      font-weight: bold;
      height: 100%;
      padding: 0px !important;
      vertical-align: middle;
      width: 100%;
    }
  }
}