$iconPath: '../../images/icons';

.svgi {
    height: 15px;
    width: 15px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    filter: brightness(0.8);
}
.svgi-filter { background-image: url(#{$iconPath}/filter.svg); }
.svgi-info { background-image: url(#{$iconPath}/info.svg); }
.svgi-more { background-image: url(#{$iconPath}/more.svg); }
.svgi-trash { background-image: url(#{$iconPath}/trash.svg); }
.svgi-copy { background-image: url(#{$iconPath}/copy.svg); }