$table-even-background: white;
$table-odd-background: $color-gray-odd;

@mixin false-gradient($color, $width: 5px){
  background: -moz-linear-gradient(to right, #ffffff00 0%, #ffffff00 4.9999px, $color 5px);
  background: -webkit-linear-gradient(to right, #ffffff00 0%, #ffffff00 4.9999px, $color 5px);
  background: linear-gradient(to right, #ffffff00 0%, #ffffff00 4.9999px, $color 5px);
}

table thead th, .table thead th {
  vertical-align: top;
}

table {
  border-radius: 0px;
  

  &, &.table {
    th, td {
      line-height: 2;
      padding: $table-spacing;

      @media (max-width: $breakpoint-desktop-max){
        padding: $table-spacing / 3;
        line-height: 1.5;
      }
    }
  }

  &.slim {
      td { padding: 0; }
      th { padding: 0 10px 0 0; }
  }
  
  // TABLE types - bordered/striped + components (checkboxm, ...)
  &.table{

    &-bordered {
      border: none;

      th, td {
        /*max-width: 160px;*/
        overflow: auto;
      }

      thead {
        background: $color-gray;

        th, td {
          border-color: $color-gray;

          &, a {
            color: #fff;
          }
        }

        // thx bootstrap
        &:first-child {
          tr:first-child {
            th {
              &:first-child, &:last-child {
                border-radius: 0;
              }
            }
          }
        }
      }

      tfoot {
        tr {
          td { border: 0; }      
        }
      }
      
      tbody {
        tr {
          td {
            border: 0px;
            border-bottom: 1px solid $table-even-background;
          }

          &:hover {
            td {
              background: transparent;
            }
          }

          &[style*="background"]{
            td {
              &, &:hover{
                &:first-child{
                  @include false-gradient(transparent);
                }
              }
            }
          }
        }
      }
    }

    &-striped {
      tbody {
        tr {
          td {
            background: $table-even-background;
          }

          &:hover {
            td {
              background: $table-even-background;
            }
          }

          &:nth-child(odd) {
            td {
              background-color: $table-odd-background;
            }

            &:hover {
              td {
                background-color: $table-odd-background;
              }
            }
          }

          &[style*="background"]{
            td {
              &, &:hover{
                &:first-child{
                  @include false-gradient($table-even-background);
                }
              }
            }

            &:nth-child(odd) {
              td {
                &, &:hover {
                  &:first-child {
                    @include false-gradient($table-odd-background);
                  }
                }
              }
            }
          }

/*          @media (max-width: $breakpoint-tablet-max){*/
          @media (max-width: $breakpoint-desktop-max){
            &, &:nth-child(odd) {
              td {
                background: $table-even-background !important;
                &:first-child{
                  background: inherit !important;
                }
              }
            }
          }
        }
      }
    }

    .table{
      &-checkbox {
        text-align: center;
/*        @media (max-width: $breakpoint-tablet-max) {*/
        @media (max-width: $breakpoint-desktop-max) {
          text-align: left;
          padding-left: $table-spacing !important;
        }
      }
    }

    .btn{
      background: transparent;
      border: 0;
    }
  }
}

//table.table-bordered tr td:first-child {
//  border-left: none
//}
//
//table.table-bordered tr td.action-cell {
//  padding: 2px 4px
//}


/* pagination */
ul.pagination li a, ul.pagination li span {
  float: left;
  display: inline-block;
  line-height: 28px;
  padding: 0px;
  border-left-width: 1px;
  margin: 0 1px;
  color: #333;
  min-width: 30px;
  text-align: center;
}

ul.pagination li {
  &.current {
    a {
      background: $table-odd-background;
    }
  }

  a {
    &.prev-next {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      i {
        margin-top: 2px;
      }
    }
    &:hover {
      border-color: $border-color-active;
    }
  }
}

  .pagination-info {
    .control-group {
      display: flex;
      .control-label {
        width: auto;
      }
      .controls {
        margin-left: 0;
      }    
    }
  }

  #perpage {
    width: 64px
  }

  @media only screen and (max-width: 1199px) {
    .pagination-info {
      float: none;
      display: block;
    }
    .pagination-info label {
      width: auto !important;
      float: left !important;
      padding-top: 5px !important;
    }
    .pagination-info label .controls {
      margin-left: auto !important;
    }
    .pagination {
      float: none;
      display: block
    }
  }


