/* JQuery UI tabs */

.jqui-tabs {
    flex-grow: 1;
    border: 1px solid $border-color;
    padding: 0 1em 1em 1em;
    margin-bottom: $fieldset-margin-bottom;
    border-radius: 0;
    font-size: 1em !important;
    font-family: Gotham-Book, "Segoe UI", tahoma, arial, sans-serif;
    
    .ui-tabs-panel {
        padding: 1em 0 0; 
    }
    
    .ui-widget-header {
        background: transparent;
        border-bottom: 1px solid $border-color;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        padding: 0 1em !important;
        margin: 0 -1em .5em -1em !important;
        border-radius: 0;
        
        li {
            float: none;
            position: static;
            display: inline-block;
            padding: 0 0 1px 0;
            margin: 0 0 -1px 0;
            background: transparent;
            border-bottom: 1px solid $border-color;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            
            a {
                float: none !important;
                padding: 1em .5em !important;
                display: block;
                color: $black;
                font-size: 1.15em;
                font-weight: bold;
                outline: none !important;
                margin-top: .5em;
            }
            
            &.ui-state-active {
                border-bottom: 1px solid $color-active-blue;
                
                a {
                    color: $color-active-blue;
                    font-weight: bold;
                }
            }
            
        }
    }
    
    
}