/* VARIABLES */

$black: hsl(0, 0, 10%);
$white: #fff;

// PAGE
$color-background: white;
$color-background-head: $color-background;

$light-background-color: #f0f0f0;
$menu-background: $light-background-color;

// COLOR
// ABRA PINK
$color-active-pink: #f04a6a; // #d13251;
$color-active-pink_hover: darken($color-active-pink, 10%); //#cc1833;
// ABRA BLUE
$color-active-blue: #3689e0; //#2b76d2;
$color-active-blue_hover: darken($color-active-blue, 10%); //#005abe;
// ABRA ORANGE
$color-active-orange: #f07200;
$color-active-orange_hover: darken($color-active-orange, 10%); //#f07200;

$color: $black; // hsl(0, 0, 10%);
$color-black: $black;
$color-gray: #5c5c5c;
$color-gray-odd: lighten($color-gray, 55%);

$color-active: $color-active-blue;
$color-active_hover: $color-active-blue_hover;

// BORDER
$border-color: #dcdcdc;
$border-color-active: #b5c1ca;

$default-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.05);
$box-shadow: 2px 4px 16px 1px rgba(0,0,0,0.2);
$box-shadow-dropdown: 1px 1px 3px 0px rgba(0,0,0,0.14);

// SPACING
$span-block-padding: 0 0 10px 0;
$span-padding: 1em;
$fieldset-margin-bottom: 1.5em;

// FONTS
$font-small: .85em;
$font-normal: 13px; //1em;
$font-big: 1.15em;
$font-huge: 1.25em;

// Ultimate variable for buttons, readonly texts and buttons height
$inputs-height: 32px;

$table-sort-arrow-size: 16px;

// CUSTOM
$button-background-default: $color-background;
$logo-height: 55px;
$logo-width: 110px;
$logo-padding: $span-padding / 2;
$loading-image: '../../images/ajax-loader_page.gif?2.0';
$icon-size: 14px;
$icon-size-huge: 20px;
$button-size: $inputs-height;
$divider-vertical-size: .85em;
$table-spacing: .5em;
$input-height: $inputs-height;
$span-background: $color-background;
/* */

/* BREAKPOINTS - desktop first, inherited from bootstrap.responsive.css */
$breakpoint-phone-max: 349px;
$breakpoint-tablet-max: 767px; // Showing Table as List
$breakpoint-desktop-max: 1139px; // 979px; // Showing Navbar as Button
$breakpoint-desktop-huge-max: 1336px; // Hiding Fragment
/* */

$header-height: 60px;

// Header filter + module caption + left menu dimensions
$left-menu-min-width: 230px;
$logo-wrapper-min-width: -20+$left-menu-min-width;
$filters-margin-left: 300px;

/* CLASSES */

.font-normal {
  font-size: $font-normal !important;
}

.strong {
  font-weight: bold !important;
}

.text{
  &-center {
    text-align: center !important;
  }
  &-left {
    text-align: left !important;
  }
  &-right {
    text-align: right !important;
  }
}

.self {
  &-center {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
  }
}

.no {
  &-margin{
    margin: 0 !important;
    &-bottom {
      margin-bottom: 0 !important;
    }
  }
}

.grayscale {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}