{var $robots = noindex}
{block content}

<h1>Chyba aplikace<small>V aplikaci nastala chyba, pokračujte tlačítkem zpět.</small></h1>
		
<div class="row-fluid">
	<div class="span12 span-block">
		<br /><br />
		<h2 style="text-align: center; color: red">{$exception->getMessage()}</h2>
		<br /><br />
		<p style="text-align: center"><button type="button" class="nice blue button" onclick="self.history.back()">Zpět</button></p>
	</div>
</div>

{/block}