{block content}
    {if !empty($tokenAlreadyExpired)}
        <h1 style="margin-left:0">{_'Token již vypršel!'}</h1>
    {elseif !empty($tokenAlreadyUsed)}
        
        <h1 style="margin-left:0">{_'Požadavek byl již zpracován dříve!'}</h1>
        <table class="slim">
            <tr>
                <th class="text-left">{_'Datum a čas'}:</th>
                <td>{$tokenAlreadyUsed->used|date:$culture['dateTime']}</td>
            </tr>
            <tr>
                <th class="text-left">{_'Uživatel'}:</th>
                <td>{$tokenAlreadyUsed->used_user_name}</td>
            </tr>
            <tr>
                <th class="text-left">{_'IP adresa'}:</th>
                <td>{$tokenAlreadyUsed->used_user_ip}</td>
            </tr>
        </table>
            
    {else}

        {if !empty($errors)}
            {foreach $errors as $error}
                <div class="alert alert-danger dontClose">
                    Nastala chyba při zpracování{if !$isProductionMode}: {$error->message} @ {$error->location}{/if}
                </div>
            {/foreach}
        {else}

            <table class="token-result-table">
            {foreach $tokenModules as $index => $tm}
                <tr>
                    <td colspan="5">
                        <h1 style="margin-left:0;margin-top:{$index > 0 ? '10px' : '0'}">{$tm->name}</h1>
                    </td>
                </tr>
                {foreach $tm as $document}
                    <tr>
                        <td>
                            {if $document->beforecheck}
                                <span class="icon-{$document->solved ? 'ok text-success' : 'remove'}" title="{$document->solved ? __('Zpracováno') : __('Chyba zpracování')}"></span>
                            {else}
                                <span class="icon-minus" title="{_'Vynecháno'}"></span>
                            {/if}
                            &nbsp;
                            <a n:href="Default:view bo => $tm->objectname, id => $document->ID" target="_blank" class="text-link"><strong>{$document->displayName}</strong></a>
                        </td>
                        <td>{$document->description}</td>
                        <td>{=($document->error ? '<span class="text-error">'.$document->error.'</span>' : '')|noescape}</td>
                    </tr>
                {/foreach}
            {/foreach}
            </table>
            
        {/if}
    {/if}
{/block}