{block head}
    {include #parent}
    <style type="text/css">
        .ts-token-tree, .ts-token-tree ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .ts-token-tree li {
            padding-left: 20px;
            line-height: 24px;
            position: relative;
        }
        .ts-token-tree li > ul {
            display: none;
        }
        .ts-token-tree li.ts-token-li-expanded > ul {
            display: block;
        }
        .ts-token-type {
            color: #3cbf3c;
            font-weight: bold;
            margin: 0 10px;
            min-width: 120px;
            display: inline-block;
        }
        .ts-token-type:before {
            content: '{_'Typ:'}';
            display: inline-block;
            padding-right: 5px;
            font-weight: 100;
        }
        .ts-token-validity {
            color: #3c9bbf;
            font-weight: bold;
            margin: 0 10px;
            min-width: 200px;
            display: inline-block;
        }
        .ts-token-validity:before {
            content: '{_'Validní do:'}';
            display: inline-block;
            padding-right: 5px;
            font-weight: 100;
        }
        .ts-token-created{
            color: #3c9bbf;
            font-weight: bold;
            margin: 0 10px;
            min-width: 200px;
            display: inline-block;
        }
        .ts-token-created:before {
            content: '{_'Vytvořen:'}';
            display: inline-block;
            padding-right: 5px;
            font-weight: 100;
        }
        .ts-token-unused {
            color: red;
            margin: 0 10px
        }
        .ts-token-ex-col {
            cursor: pointer;
            position: absolute;
            left: 3px;
            top: -1px; 
        }
        .ts-token-lite {
            opacity: .3;
        }
        
        .ts-token-tree > li > span > .ts-token-guid { min-width: 320px; display: inline-block }
        .ts-token-tree > li > ul > li > span > .ts-token-guid { min-width: 300px; display: inline-block }
        .ts-token-tree > li > ul > li > ul > li > span > .ts-token-guid { min-width: 280px; display: inline-block }
    </style>
{/block}
{block content}

<script type="text/html" id="itemsTemplate">
    <li data-bind="css: { 'ts-token-li-expanded': expanded }">
        <!-- ko if: tokens().length > 0 -->
        <span class="ts-token-ex-col" data-bind="css: { 'ts-token-expanded': expanded }, click: $root.expandCollapse.bind($root, $data), text: expanded() ? '&minusb;' : '&plusb;'"></span>
        <!-- /ko -->
        <span>
            <span class="ts-token-guid" data-bind="text: guid, css: { 'ts-token-lite': used() }"></span>
            <span class="ts-token-created" data-bind="text: created, css: { 'ts-token-lite': used() }"></span>
            <span class="ts-token-type" data-bind="text: type, css: { 'ts-token-lite': used() }"></span>
            <span class="ts-token-validity" data-bind="text: validity, css: { 'ts-token-lite': used() }"></span>
            <!-- ko if: used() -->
                <span class="ts-token-used" data-bind="css: { 'ts-token-lite': used() }">
                    {_'Použit'}: <strong data-bind="text: used"></strong> (<strong data-bind="text: used_user_name"></strong> - <strong data-bind="text: used_user_id"></strong>)
                </span>
            <!-- /ko -->
            <!-- ko ifnot: used() -->
                <span class="ts-token-unused" data-bind="css: { 'ts-token-lite': used() }">{_'Nepoužit'}</span>
            <!-- /ko -->
        </span>
        <!-- ko if: tokens().length > 0 -->
        <ul data-bind="template: { name: 'itemsTemplate', foreach: tokens }"></ul>
        <!-- /ko -->
    </li>
</script>

<div id="tokenShowView">
    
    <h1>{_'Tokeny'}</h1>
    
    <div class="btn-toolbar" style="margin: 10px 0 25px">
        <button class="btn btn-default" data-bind="click: $root.expandCollapseAll.bind($root, true, $root.tree())">{_'Rozbalit vše'}</button>
        <button class="btn btn-default" data-bind="click: $root.expandCollapseAll.bind($root, false, $root.tree())">{_'Sbalit vše'}</button>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary" n:href="clearAll" data-bind="click: $root.clearAll.bind($root)">{_'Vymazat všechny tokeny'}</a>
    </div>
    
    <ul class="ts-token-tree" data-bind="template: { name: 'itemsTemplate', foreach: $root.tree }"></ul>
    
</div>

{/block}
{block scripts}
    {include #parent}
    <script type="text/javascript" src="{$basePath}/js/knockout-3.5.1.js"></script>
    <script type="text/javascript" src="{$basePath}/js/knockout.mapping-latest.js"></script>
    <script type="text/javascript" n:syntax="double">
        (function() {
          
            var TokenShowViewModel = function() {
                var self = this;
                this.tree = ko.mapping.fromJS({{=json_encode($tree)|noescape}});
                
                this.expandCollapse = function(node) {
                    node.expanded(!node.expanded());
                };
                
                this.expandCollapseAll = function(expand, node) {
                    node = node || self.tree();
                    node.forEach(function(n) {
                        n.expanded(expand);
                        if(n.tokens().length > 0) {
                           self.expandCollapseAll(expand, n.tokens());
                        }
                    });
                };
                
                this.clearAll = function() {
                    if(confirm({{_'Skutečně smazat všechny tokeny? Pozor, tato akce je nevratná!'}})) {
                        return true;
                    }
                };
                
            };

            var tsvm = new TokenShowViewModel();
            ko.applyBindings(tsvm, document.getElementById('tokenShowView'));
            
        })();
    </script>
{/block}