@import "components/variables";
@import "components/fonts";

html, body {
  font-family: Gotham-Book, "Segoe UI", tahoma, arial, sans-serif;
  color: $color;
  background: $color-background;
  font-size: $font-normal;
}

p {
  font-family: Gotham-Book, "Segoe UI", tahoma, arial, sans-serif;
  color: $color;
  font-size: $font-normal;
}

html, body, label {
  color: $color;
}

body {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-left: $span-padding;
  margin-right: $span-padding;
}

h1 {
  font-size: $font-huge;
}

h1 small {
  padding-left: 20px;
  float: right
}

h1 span {
}

body > footer {
  background: #D0D0D0;
  padding: 20px;
  border-top: 1px solid #F4F4F4;
}

footer .alert {
  padding: 8px 14px 8px 14px;
}

a {
    color: $color-active-blue;
    &:hover {
        color: $color-active-blue_hover;
    }
}

@import "components/icons";
@import "components/forms";
@import "components/buttons";
@import "components/tables";
@import "components/layouts";
@import "components/dropdowns";
@import "components/navbar";
@import "components/spinner";
@import "components/svgicons";
@import "components/tabs";

.password-field-wrapper {
    position: relative;
}
.password-eye {
    position: absolute;
    display: inline-block;
    width: 16px;
    opacity: .3;
    right: 10px;
    top: -1px;
    &:hover {
        opacity: .7;
    }
}

.preview-tab {   
    height: calc(100% - 110px);
    overflow: hidden;
    > div {
        height: 100%;
        > div {
            height: 100%;
            > object {
                min-height: 600px;
                height: 100% !important;
            }
        }
    }
}

.floatThead-container {
    z-index: 60 !important;
}

.hide {
    display: none !important;
}

.massform-wrapper {
    text-align: right;
    
    .fieldset {
        border: none;
        padding: 0;
    }
}

.nav-tabs a {
    color: $black;
}

hr { clear: both; }

.user-menu {
    margin-top: 12px;
    .user-inicials {
        border: 0;
        border-radius: 0; 
        background: none !important;
        box-shadow: none !important;
        li {
            line-height: 25px;
            .divider {
                margin: 3px 0;
            }
        }
        + .dropdown-menu {
            padding: 2px 0;
            top: 100%;
            margin-top: 10px;
        }
    }
    .lang-submenu {
        white-space: nowrap;
        a {
            padding: 5px 7px;
            display: inline-block;
            &.active {
                background: $light-background-color;
            }
        }
    }
}
.user-inicials {
    width: auto;
    
    > img {
        margin-right: 10px;
    }
    > div {
        display: inline-block;
        text-align: left;
        line-height: 20px;
        vertical-align: middle;
    }
}

.splitter {
    border-color: $light-background-color;
    border-style: solid;
    border-width: 0;
    
    /**/
        height: 20px;
        border-bottom-width: 1px;
        margin: 0 auto 21px;
    /**/
}

.no-wrap {
    white-space: nowrap;
}
.logo-wrapper {
    margin-top: 18px;
    display: inline-block;
    vertical-align: top;
    min-width: $logo-wrapper-min-width;
    &.collapsed {
        min-width: 60px;
        .collapsed-logo { display: block; }
        .full-logo { display: none; }
    }
    .collapsed-logo { display: none; }
    .full-logo { display: block; }    
    img {
        margin-top: 0 !important;
        padding: 0;
        height: 25px;
    }
    span {
        font-size: 23px;
        padding-left: 5px;
        font-family: Gotham-Medium;
        vertical-align: middle;
        font-weight: 700;
    }
}

.middle-col-module-name {
    text-align: left;
    font-size: 20px;
    padding: 22px 30px 0 20px;
    width: $filters-margin-left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-height: 26px;
}


.autocomplete-clear-button {
  vertical-align: middle;
  height: 28px;
  line-height: 0px;
  width: 28px;
  margin-left: 2px;
  padding: 1px 0 0 0 !important;
}

.autocomplete-selected-item {
  vertical-align: middle;
  border: 1px solid #ccc;
  background: #fafafa;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*width: auto;*/
  width: 100%;
  display: inline-block;
  -webkit-box-shadow: inset 0 -15px 20px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 -15px 20px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 -15px 20px rgba(0, 0, 0, 0.075);
  /*height: 24px;*/
  /*height: 18px;*/
  padding: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.load-wrapper {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  max-width: 100%;
}

.load-wrapper.loading:after {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: #f0f0f0 url('#{$loading-image}') center center no-repeat;
  z-index: 999;
  content: "";
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/*form.abrrizontal .control-label { text-align: right }*/
.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}

.span-block {
  background: $span-background;
  padding: $span-block-padding;
}

.flash-messages {
  margin-bottom: 2 * $span-padding;
  //margin-top: $span-padding;
}

.flash-messages .alert {
  font-weight: bold;
  text-shadow: none; /*0 -1px 0 rgba(0, 0, 0, 0.5);*/
}

.flash-messages .alert .close {
  top: 1px;
}

.flash-messages .alert:last-child {
  margin-bottom: 0
}

.flash-messages {
  .alert {
    &-info, &-success {
      color: $color-active-blue;
      background-color: $white;
      border-color: $color-active-blue;
    }

    &-error {
      color: $color-active-pink;
      background-color: $white;
      border-color: $color-active-pink;
    }

    &-validation {
      color: $color-active-orange;
      background-color: $white;
      border-color: $color-active-orange;
    }

    &-notice {
      color: $color-active-pink;
      background-color: $white;
      border-color: $color-active-pink;
    }
  }
}

.sign-in {
  h1 {
    font-size: $font-huge * 1.25;
    margin-bottom: $span-padding * 2;
  }

  .submit {
    margin-top: $span-padding * 2;
    margin-bottom: 0;

    & > input {
      margin-left: 2 * $span-padding;
      /*@media (max-width: $breakpoint-tablet-max) {*/
      @media (max-width: $breakpoint-desktop-max) {
        margin-left: 0;
      }
    }
  }

  .fieldset {
    padding: ($span-padding * 4) $span-padding;
    max-width: 520px;

    /*@media (max-width: $breakpoint-tablet-max) {*/
    @media (max-width: $breakpoint-desktop-max) {
      border: 0;
      padding: $span-padding;
    }

    .row-fluid {
      justify-content: center;
      margin-bottom: $span-padding;

      label {
        /*line-height: $input-height;*/
        margin: 0;
        padding-right: $span-padding;
        text-align: right;

        & ~ div {
          text-align: left;
        }

/*        @media (max-width: $breakpoint-tablet-max) {*/
        @media (max-width: $breakpoint-desktop-max) {
          text-align: center;

          & ~ div {
            text-align: center;
          }
        }
      }
    }
  }
}

.row-fluid {
  //margin-bottom: 10px;
}

/*.span-block, body > header { box-shadow: 0px 4px 30px #ccc; -moz-box-shadow: 0px 4px 30px #ccc; -webkit-box-shadow: 0px 4px 30px #ccc }*/

/* Prihalseny uzivatel */
.logged-user > div {
  text-align: right;
  line-height: 20px;
}

.logged-user > div > * {
  vertical-align: middle
}

.logged-user > div > span {
  padding-right: 4px
}

.filtering-tabs {
  float: left;
}

[data-toggle-target="filters"] {

}


/* ajax loader */
.ajax-loader {
    z-index: 999;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: .2;
    /*background: black url('#{$loading-image}') center center no-repeat;*/
    background: $black;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    line-height: 100vh;
    text-align: center;
    animation: ajax-loader ease 500ms;
  
    .hv-centered {
        display: inline-block;
        vertical-align: middle;
        line-height: 50px;
  
        > p {
            z-index: 9999;
            color: $white;
            font-size: 20px;
            display: inline-block;
            line-height: 20px;
            margin: 0;
            vertical-align: middle;
            transition: all 500ms;
            opacity: 0;
        }
    }
}


@keyframes ajax-loader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}

.middle-inline-block {
  display: inline-block;
  vertical-align: middle
}


/* Pruhovane pozadi v naseptavaci*/
.ui-autocomplete .ui-menu-item:nth-child(even) {
  background-color: #f0f0f0;
}

/* small element v naseptavaci */
.ui-menu-item small {
  font-size: 85%;
}

/* Odkaz misto tlacitka */
.btn-link {
    padding: 0 5px;
    font-size: ($font-normal)-1;
}

/* rychly hack pro prezentaci */
table.table-bordered th {
	overflow: hidden; 
}

@media (max-width: 480px) {
    .form-horizontal .control-label {
        margin-bottom: 2px;
        margin-top: 5px;
    }
    
    .form-horizontal .control-group {
        > label {
            float: left !important;
            width: 50%;
            padding-top: 7px !important;
            margin-top: 0 !important;
        }
        .controls {
            margin-left: 0;
        }
    }
    
    legend, .legend {
        margin-bottom: 1.2em;
    }
}


@media only screen and (max-width: $breakpoint-desktop-max) {

  body {
    padding-right: 0;
    padding-left: 0;
  }
  h1, header > nav, header > .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
  }
  h1 small {
    padding-left: 0px;
    float: none;
    display: block
  }
  h1 span {
    padding-left: 0px;
    float: none;
    display: block
  }

  /*	 Force table to not be like tables anymore */
  table, thead, tbody, tfoot, th, td, tr {
    display: block;
  }
  
    table.table-striped tbody tr td, table.table-striped tbody tr:nth-child(odd) td {
        text-align: left!important;
        min-width: initial!important;
    }  

  /*	 Hide table headers (but not display: none;, for accessibility) */
  .table.table-bordered th, .table.table-bordered td {
    overflow: hidden;
    max-width: initial;
    width: initial !important;
  }
  table.table-bordered tr td:last-child {
    padding-left: 50%;
  }
  .table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table tr {
    border: 1px solid #ccc;
    margin-bottom: 18px;
  }

  /*	 Behave  like a "row" */
  .table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
    min-height: 18px;
  }

  /*	 Now like a table header */
  .table td:before {
    position: absolute;
    top: 8px; /*top: 6px;*/
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .block-on-small {
    display: block;
  }
  .block-on-small .btn {
    margin: 10px 0;
    display: block;
    width: 100%;
    max-width: 220px;
  }

  .text-field .text-right {
    text-align: left !important
  }
  .list-table td .text-right {
    text-align: left !important
  }
  
  .span-block {
      padding: 0;
  }
}

@media only screen and (max-width: $breakpoint-desktop-max - 1) {
    .aggregation-border {
        min-height: $inputs-height !important;
        line-height: $inputs-height !important;
        text-align: left !important;
        &:before {
            top: 2px !important;
            text-align: left !important;
        }
    }
}

@media only screen and (max-width: $breakpoint-desktop-max - 1) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
  h1, header > nav, header > .container-fluid {
    padding-right: 0; //$span-padding;
    padding-left: 0; //$span-padding;
  }

  label.shrinked {
    float: none !important;
    width: auto !important;
    text-align: left !important;
  }
  div.controls.shrinked {
    margin-left: 0px !important;
    display: block !important
  }
  .filtering-tabs {
    float: none !important
  }
  .logo.collapsed-logo {
      display: block;
  }
  .logo.full-logo {
      display: none;
  }
}

/* podbarveni naseptavacu */
.ui-autocomplete-input {
  background-color: #FFD;
}

.hero-unit {
  padding: 15px;
}

.th-field-name {
    vertical-align: middle;
}
.th-field-name-link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.th-field-sort {
    width: $table-sort-arrow-size;
    height: $table-sort-arrow-size;
    /*float: right;*/
    display: none;
    /*height: 24px;*/
    /*line-height: 24px;*/
    /*margin-right: 4px;*/
    vertical-align: middle;
    margin-left: 3px;
    margin-bottom: 4px;
    svg {
        width: $table-sort-arrow-size;
        height: $table-sort-arrow-size;
    }
    &.th-field-sort-active {
        display: inline-block;
        fill: $white;
    }
    &.th-field-sort-asc svg {
        transform: rotate(90deg);
    }
    &.th-field-sort-desc svg {
        transform: rotate(270deg);
    }
}

.order-by-asc, .order-by-desc {
  font-size: 22px;
  color: #808080;
  width: 10px;
  display: inline-block;
}

.order-by-asc.active, .order-by-desc.active {
  color: #ffffff;
  line-height: 0;
}

.list-actions {
  overflow: visible !important;
  white-space: pre;
  min-width: 70px;
}

.list-actions .btn-group {
  width: 100%;
}

textarea {
    resize: none;
}

input, textarea, select, .uneditable-input {
  box-sizing: border-box;
  max-width: 210px;
  width: 100%;
}

td input, td textarea, td select, td .uneditable-input {
  max-width: none;
}

.button-form-row {
    /*margin-bottom: $span-padding * 2;*/
    margin-bottom: 0;
    position: fixed;
    top: 12px;
    z-index: 999;
    margin-left: $filters-margin-left;

    &:after {
      display: block;
      content: "";
      clear: both;
    }
}

.legend-list {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}

.legend-list li {
  width: auto;
  display: inline-block;
}

.legend-list li div {
  color: $black;
  padding: ($span-padding / 2) $span-padding;
}

.legend-list li div span {
  width: 5px;
  margin-right: 5px;
  display: inline-block;
}

.aggregation-border {
  border-top-style: double !important;
  border-width: 0;
  border-top-width: 3px !important;
  border-top-color: #666 !important;
}

.header-warning {
    padding: 7px 0 5px 0;
    text-align: center;
    color: $color-active-pink;
    font-weight: 900;
    border: 1px solid $color-active-pink;
    /*position: fixed;*/
    margin: auto auto 2em auto;
/*    left: 50%;
    width: 400px;
    margin-left: -200px;*/
    /*height: 28px;*/
    box-sizing: border-box;
    line-height: 25px;
    padding: 0;
    border-radius: 4px;
/*    top: 16px;    */
    bottom: 0;
    left: 20px;
    right: 20px;
    z-index: 9999;
    background-color: $white;
}

.same-width-buttons-left, .same-width-buttons-right {
    display: grid;
    & > span {
        padding: 0 0 0 ($span-padding / 2);
        & > *:first-child {
            width: 100%;
        }
    }
}
.same-width-buttons-right > span {
    padding: 0 0 0 ($span-padding / 2);
}

table .btn {
    padding-right: 10px;
    padding-left: 10px;
}
.btn {
    border-radius: 100px;
    padding-right: 20px;
    padding-left: 20px;
    /*padding: 8px 14px 8px;*/
    height: $button-size !important;
    //line-height: -4+$button-size !important;    
/*    height: 2.5em !important;
    line-height: 2.5em !important; */
}

.string-value, .view-float-value {
    display: inline-block;
}
td > .string-value, td > .view-float-value, td > div > .string-value, td > div > .view-float-value {
    display: block;
}


label.control-label:empty {
    display: none;
}
label.control-label:empty + .controls {
    margin-left: 0;
}

.text-success {
    color: $color-active-blue;
}
.text-error {
    color: $color-active-pink;
}
.text-link {
    color: $color-black;
    font-weight: bold;
    &:hover {
        color: $color-black;        
    }
}

@media (max-width: $breakpoint-desktop-max) {
    .navbar .nav-collapse {
        position: fixed !important;
        top: $header-height !important;
        z-index: 9999 !important;
        left: 0;
        bottom: 0;
        background: $light-background-color;
        transition: height .1s ease;
        &.in {
            /*height: auto !important;*/
        }
        li a {
            background: transparent !important;
            border: none !important;
            padding: 1.2em 2.2em 1.2em 1em;
            position: relative;
            .active, &:hover {
                background: transparent !important;
                border: none !important;
            }
            .for-approve-count {
                font-style: normal;
                float: right;
                margin-right: -18px;
                font-weight: 300;
            }
        }
    }
}

@media only screen and (min-width: $breakpoint-desktop-max+1)  {
    header .nav-collapse {
        display: none;
    }
    header .navbar {
        display: none;
    }    
}

@media only screen and (max-width: $breakpoint-desktop-max)  {
    .same-width-buttons-left, .same-width-buttons-right {
        display: block;
        & > span {
            padding: ($span-padding / 2) 0;
            display: block;
            & > * {
                width: 100%;
            }
        }
    }
    .logo-wrapper {
        min-width: auto;
    }
    .module-menu {
        display: none;
        min-width: auto;
    }
    .button-form-row {
        position: static;
        top: auto;
        z-index: auto;
        margin-bottom: 1em;
        margin-left: auto;
    }
    body > header .row-fluid, body > footer .row-fluid {
        display: flex;
    }
    .user-name-and-conn {
        display: none !important;
    }
    .user-inicials > img {
        margin-right: 0;
    }
    .logo-wrapper > span {
        display: none;
    }
    .middle-col-module-name {
        display: block;
        width: auto;
        text-align: center;        
    }
    .hide-mobile {
        display: none;
    }

}

@media (max-width: $breakpoint-desktop-max) {
    .token-result-table tr {
        padding: 0 0 20px 0;
    }
}

@media (max-width: $breakpoint-tablet-max) {
    body {
        overflow: auto;
    }
}

@media (min-width: 1024px) {

  .row-fluid .span6 {
    width: 49.5%;
  }

  .row-fluid .span4 {
    width: 32.6667%;
  }
  
  .row-fluid {
    .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
        margin-left: 1%;
    }
  }

}

@media (min-width: 360px) {
  .top-span > .row-fluid > .span6 {
    width: 49.5%;
    margin-left: 1%;
    float: left;
  }
  .top-span > .row-fluid > .span6:first-child {
    margin-left: 0;
  }
}

@media (max-width: 419px) {
    .button-form-row form {
        display: block !important;
        margin-bottom: 10px !important;
    }
}

@media (max-width: 419px) {
    .form-horizontal .pagination-info .control-group > label {
        width: auto !important;
    }
}

[class^="icon-"], [class*=" icon-"] {
    background-image: none !important;
    font-size: 16px;
    line-height: 16px !important;
    height: 16px !important;
    width: 16px !important;
    vertical-align: initial !important;    
}
.icon-nomargin {
    &:before {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
.icon-transparent {
    opacity: .6;
}

.form-table-actions-cell {
    white-space: nowrap;
}

.navbar .nav-collapse .nav {
    overflow: auto;
    height: 100%;
}