body {
    font-size: 12px;
}
body > header .top-span {
    padding: 6px 0;
}
body > header > nav .navbar .nav li a {
    font-size: 14px;
}
body > footer {
    padding: 10px;
}
.navbar .nav > li > a {
    padding: 6px 10px 7px;
}
.fieldset {
    margin-bottom: 8px;
}
.legend {
    font-size: 18px;
    line-height: 26px;
}

label {
    margin-bottom: 2px;
}

.form-horizontal .control-group {
    margin-bottom: 5px;
}
.form-actions {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 10px 10px;
}
.pagination {
    margin: 8px 0;
}
.pagination-info.form-horizontal .control-label {
    width: 200px;
}
.pagination-info.form-horizontal .controls {
    margin-left: 200px;
}
ul.pagination li a, ul.pagination li span {
    line-height: 24px;
    min-width: 26px;
}
.table th, .table td {
    padding: 2px 4px;
}
.table th {
    padding: 2px 4px 4px;
}

.text-field {
    line-height: 22px;
}

.span-block {
    padding: 8px;
}

.form-horizontal .control-label {
    width: 110px;
    padding-top: 3px;
}
.form-horizontal .controls {
    margin-left: 120px;
    margin-right: 10px;
}

h1.clearfix {
	display: none;
}

body > header > nav {
	margin-bottom: 0;
}

body > header > nav a.active {
	color: #08c!important;
}

body > .main-content {
    margin-top: 16px;
}

.span-block, body > header {
    box-shadow: 0px 3px 12px #e0e0e0;
    -moz-box-shadow: 0px 3px 12px #e0e0e0;
    -webkit-box-shadow: 0px 3px 12px #e0e0e0;
}

form {
    margin: 0 0 5px;
}
input, textarea, select, .uneditable-input {
    padding: 2px 4px;
}
label, input, button, select, textarea {
    font-size: 12px;
    line-height: 16px;
}
input[type="image"], input[type="checkbox"], input[type="radio"] {
    margin: 2px 0;
}
input[type=text], input[type=password], input[type=number], input[type=date], input[type=email] {
    box-sizing: border-box;
    height: 24px;
    padding: 2px 4px;
}
select, input[type="file"] {
    height: 24px;
}

a.btn, button.btn, input.btn {
    font-size: 12px;
    height: 24px;
    line-height: 22px;
}
.btn > [class^="icon-"] {
    margin: 0px 0;
}
.btn.dropdown-toggle {
    height: 24px;
}
.btn.dropdown-toggle .caret {
    margin-top: 10px;
}
.autocomplete-selected-item {
    padding: 2px 4px;
}

.nav {
    margin-bottom: 10px;
}
.nav-pills > li > a {
    padding-top: 6px;
    padding-bottom: 7px;
}

.hero-unit {
    padding: 5px 10px;
    margin-bottom: 5px;
}


[class^="icon-"], [class*=" icon-"] {
    margin-right: 4px;
}

.row-fluid {
    margin-bottom: 5px;
}

@media (min-width: 768px) {

    .row-fluid .span12 { width: 100%; margin-left: 0.5%; }
    .row-fluid .span11 { width: 91.675%; margin-left: 0.5%; }
    .row-fluid .span10 { width: 83.25%; margin-left: 0.5%; }
    .row-fluid .span9 { width: 74.875%; margin-left: 0.5%; }
    .row-fluid .span8 { width: 66.5%; margin-left: 0.5%; }
    .row-fluid .span7 { width: 58.125%; margin-left: 0.5%; }
    .row-fluid .span6 { width: 49.75%; margin-left: 0.5%; }
	.row-fluid .span5 { width: 41.375%; margin-left: 0.5%; }      
	.row-fluid .span4 { width: 33%; margin-left: 0.5%; }    
    .row-fluid .span3 { width: 24.625%; margin-left: 0.5%; }
    .row-fluid .span2 { width: 16.25%; margin-left: 0.5%; }
    .row-fluid .span1 { width: 7.875%; margin-left: 0.5%; }
}

@media (min-width: 1200px) {
    .row-fluid [class*="span"] {
        min-height: 24px;
    }
}

@media (max-width: 767px) {
    .row-fluid .span-block {
        margin-bottom: 5px;
    }
}
    

@media (max-width: 480px) {
    .form-horizontal .controls {
        margin-left: 0 !important;
    }
}