.form-horizontal .control-group {
    margin-bottom: 8px;
}

.table th, .table td {
    padding: 4px 8px;
}

.text-field {
    line-height: 22px;
}

.form-horizontal .control-label {
    padding-top: 2px;
}

h1.clearfix {
	display: none;
}

body > header > nav {
	margin-bottom: 0;
}

body > header > nav a.active {
	color: #08c!important;
}

body > .main-content {
    margin-top: 16px;
}