html, body { font-family: museo-sans, "Segoe UI", tahoma, arial, sans-serif; background: #EDEDED }
html { background: #D0D0D0; }
h1,h2,h3,h4,h5,h6 { color: #4489B5; }
h1 { margin: 18px 0; }
h1 small { padding-left: 20px; float: right }
h1 span { float: left }

img.logo { max-height: 60px }

body > header { background: #fff }
body > header > nav { background: #FAFAFA; border-top: 1px solid #F0F0F0; margin-bottom: 0px; }
body > header > nav .navbar .nav li a { text-shadow: none; line-height: 15px; margin: 0; font-size: 16px; border-right: 1px solid #f0f0f0; font-weight: bold; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0 }
body > header > nav .navbar .nav li:first-child a { border-left: 1px solid #f0f0f0 }
body > header > nav .navbar .nav li a.active { background: #E8E8E8 }
body > header > nav .navbar .nav li a:hover { background: #E6E6E6; color: black }
body > header > nav .navbar { margin-bottom: 0; }
body > header .row-fluid, body > footer .row-fluid { margin-bottom: 0 }
body > header .top-span { padding: 10px 0 }
body > .main-content > .container-fluid { min-height: 500px; }
body > .main-content { border-bottom: 1px solid #BFBFBF; margin-top: 16px; }
body > footer { background: #D0D0D0; padding: 20px; border-top: 1px solid #F4F4F4; }

footer .alert { padding: 8px 14px 8px 14px; }

.autocomplete-clear-button {
	vertical-align: middle;
	height: 28px;
	line-height: 0px;
	width: 28px;
	margin-left: 2px;
	padding: 1px 0 0 0!important;
}
.autocomplete-selected-item {
	vertical-align: middle;
	border: 1px solid #ccc;
	background: #fafafa;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: auto;
	display: inline-block;
	-webkit-box-shadow: inset 0 -15px 20px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 -15px 20px rgba(0,0,0,0.075);
	box-shadow: inset 0 -15px 20px rgba(0,0,0,0.075);
	height: 18px;
	padding: 4px;
}

.load-wrapper {
	position: relative;
	display: inline-block;
	white-space: nowrap;
}
.load-wrapper.loading:after {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background: #f0f0f0 url('../../images/ajax-loader.gif') center center no-repeat;
	z-index: 999;
	content: "";
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*form.form-horizontal .control-label { text-align: right }*/
table.table-bordered { border: none }
table.table-bordered thead { background: #666 }
table.table-bordered thead th, table.table-bordered thead td { color: #fff; border-color: #666 }
table.table-bordered th, table.table-bordered td { /*max-width: 160px;*/ overflow: auto; }
table.table-bordered tr td:first-child { border-left: none }
table.table-bordered tr td.action-cell { padding: 2px 4px }
table th a { color: white; text-decoration: underline }
table th a:hover { color: white; text-decoration: none }

.table tbody tr:hover td, .table tbody tr:hover th { background-color: rgba(128,128,128,0.3) !important; }
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th { background-color: rgba(128,128,128,0.15); }

.container-fluid { max-width: 1200px; margin: 0 auto; }
.span-block { background: white; padding: 15px; border: 0px solid #ccc; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px }
.flash-messages { margin-top: 20px }
.flash-messages .alert {
	font-weight: bold;
	box-shadow: 0px 4px 30px #ccc;
	-moz-box-shadow: 0px 4px 30px #ccc;
    -webkit-box-shadow: 0px 4px 30px #ccc;
	text-shadow: none; /*0 -1px 0 rgba(0, 0, 0, 0.5);*/
}
.flash-messages .alert .close { top: 1px; }
.flash-messages .alert:last-child { margin-bottom: 0 }
.flash-messages .alert-info { color: white; background-color: #5BB1DC; border-color: #3DBDD6; }
.flash-messages .alert-success { color: white; background-color: #83C468; border-color: #87BF5A; }
.flash-messages .alert-error { color: white; background-color: #C67171; border-color: #C36573; }
.flash-messages .alert-validation { color: black; background-color: #FFC500; border-color: #D2A819; }
.flash-messages .alert-notice { color: black; background-color: #FFFF00; border-color: #D8D800; }

.row-fluid { margin-bottom: 10px; }
.span-block, body > header { box-shadow: 0px 4px 30px #ccc; -moz-box-shadow: 0px 4px 30px #ccc; -webkit-box-shadow: 0px 4px 30px #ccc }

/* Prihalseny uzivatel */
.logged-user > div { text-align: right; line-height: 20px; }
.logged-user > div > * { vertical-align: middle }
.logged-user > div > span { padding-right: 4px }

/* Tlacitka s ikonkama */
.btn { padding-top: 3px; white-space: nowrap }
.btn > [class^="icon-"] { margin: 1px 0 }
.btn > span:first-child { padding-right: 2px }
table td.action-cell a.btn > span:first-child { padding-right: 0 }

a.btn, button.btn, input.btn {
	line-height: 26px;
    padding-bottom: 0;
    vertical-align: middle;
    height: 28px;
    padding-top: 0;
    box-sizing: border-box;
}
button.btn, input.btn {
	line-height: 28px;
}
.btn.dropdown-toggle {
	height: 28px;
}
.btn.dropdown-toggle .caret {
	margin-top: 12px;
}

/* FORMULARE + DAtum a cas, datum, cas */
.legend {
	display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 27px;
    font-size: 19.5px;
    line-height: 36px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #eee;
}

.legend, legend { margin-bottom: 5px; }
.legend+.control-group, legend+.control-group { margin-top: 5px; margin-bottom: 10px }
.control-group { margin-bottom: 0px }

input.input-datetime { width: 150px; padding-left: 24px !important; background-image: url('../../images/icons/calendar.png'); background-repeat: no-repeat; background-position: 4px center }
.text-field { line-height: 28px; }

/* Zarovnani doprava */
.text-right { text-align: right }
table .text-right, footer .text-right { text-align: right !important }
.text-left { text-align: left }
.text-center { text-align: center }

/* Button group with actions */
.btn-group.pull-right .nowrap { white-space: nowrap; }
.btn-group.pull-right .btn:first-child { border-top-right-radius: 0; border-bottom-right-radius: 0; -moz-border-top-right-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; -webkit-border-top-right-radius: 0 }
.btn-group.pull-right .btn.dropdown-toggle { border-left: none; border-top-left-radius: 0; border-bottom-left-radius: 0; -moz-border-top-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0 }
.btn-group.pull-right .dropdown-menu li a span { vertical-align: middle }
.btn-group.pull-right .dropdown-menu li a span.drop-down-action-caption { padding-left: 5px; }

.rec-delete .icon-remove { background-color: red }
.rec-delete .icon-remove + span { color: red }
.rec-delete:hover .icon-remove { background-color: transparent }
.rec-delete:hover .icon-remove + span { color: white }

input.rec-delete { color: red !important }
input.rec-delete:hover { color: white !important }

.filtering-tabs { float: left; }
label.shrinked { width: 90px !important; }
div.controls.shrinked { margin-left: 100px !important }

.dropdown-menu input, .dropdown-menu button {
	width: 100%;
	display: block;
	padding: 3px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #333;
	white-space: nowrap;
	border: 0;
	outline: 0;
	text-align: left;

	        box-shadow: none;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;

	        border-radius: 0;
	   -moz-border-radius: 0;
	-webkit-border-radius: 0;

	text-shadow: none;

	background: transparent;
}
.dropdown-menu input:hover, .dropdown-menu button:hover {
	background-color: #08c;
	color: white;
}

/* ajax loader */
.ajax-loader {
	z-index: 999999999;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
	opacity: 0.2;
	background: black url('../../images/ajax-loader.gif?1380088100') center center no-repeat;
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	width: 100%;
	height: 100%;
}

.middle-inline-block { display: inline-block; vertical-align: middle }


/* Pruhovane pozadi v naseptavaci*/
.ui-autocomplete .ui-menu-item:nth-child(even) {
	background-color: #f0f0f0;
}

/* small element v naseptavaci */
.ui-menu-item small {
	font-size: 85%;
}

@media only screen and (max-width: 767px)  {

	body {padding-right: 0; padding-left: 0;}
	h1, header>nav, header>.container-fluid {padding-right: 20px; padding-left: 20px;}
	h1 small { padding-left: 0px; float: none; display: block }
	h1 span { padding-left: 0px; float: none; display: block }

/*	 Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {display: block;}

/*	 Hide table headers (but not display: none;, for accessibility) */
	.table.table-bordered th, .table.table-bordered td {overflow: hidden; max-width: initial; width: initial !important;}
	table.table-bordered tr td:last-child {padding-left: 50%;}
	.table thead tr {position: absolute; top: -9999px;	left: -9999px;}
	.table tr { border: 1px solid #ccc; margin-bottom: 18px; }

/*	 Behave  like a "row" */
	.table td {border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50%!important; min-height: 18px;}

/*	 Now like a table header */
	.table td:before {position: absolute; top: 6px; left: 6px;	width: 45%;	padding-right: 10px; white-space: nowrap;}

	.block-on-small {
		display: block;
	}
	.block-on-small .btn {
		margin: 10px 0;
		display: block;
		width: 100%;
		max-width: 220px;
	}

    .text-field .text-right { text-align: left !important }
    .list-table td .text-right { text-align: left !important }
}

@media only screen and (max-width: 767px) {
	body {padding-right: 0; padding-left: 0;}
	h1, header>nav, header>.container-fluid {padding-right: 20px; padding-left: 20px;}

	label.shrinked { float: none !important; width: auto !important; text-align: left !important; }
	div.controls.shrinked { margin-left: 0px !important; display: block !important }
	.filtering-tabs { float: none !important }
}

/* podbarveni naseptavacu */
.ui-autocomplete-input {
	background-color: #FFD;
}

/* Input + TEXTAREA border-box -> width 100% fix */
input[type=text], input[type=password], input[type=number], input[type=date], input[type=email] {
	box-sizing: border-box;
	height: 28px;
	padding: 4px;
}
textarea {
	box-sizing: border-box;
}
.hero-unit {
	padding: 15px;
}

/* pagination */
ul.pagination li a, ul.pagination li span { float: left; display: inline-block; line-height: 28px; padding: 0px; border-left-width: 1px; margin: 0 1px; color: #333; min-width: 30px; text-align: center; }
ul.pagination li a:hover { background-color: #e0e0e0 }
ul.pagination li.current a { background-color: #08c; color: #fff }
ul.pagination li a.prev-next { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
ul.pagination li a.prev-next i { margin-top:2px }

.pagination-info .control-label { width: 230px; }
.pagination-info .controls { margin-left: 230px; }
#perpage { width: 64px }

@media only screen and (max-width: 1199px) {
	.pagination-info  { float: none; display: block; }
	.pagination-info label { width: auto!important; float: left!important; padding-top: 5px!important; }
	.pagination-info label .controls { margin-left: auto!important; }
	.pagination { float: none; display: block }
}


.th-field-sort {
	vertical-align: middle;
	line-height: 0;
}
.order-by-asc, .order-by-desc {
	font-size: 22px;
	color: #808080;
    width: 10px;
    display: inline-block;
}
.order-by-asc.active, .order-by-desc.active {
	color: #ffffff;
	line-height: 0;
}

.list-actions { overflow: visible!important; white-space: pre; min-width: 120px; }
.list-actions .btn-group { width: 100%; }
.list-actions .btn-group > .nowrap > .btn:first-child { position: absolute; left: 0; right: 29px;  }


input, textarea, select, .uneditable-input {
	width: 100%;
    max-width: 210px;
}

td input, td textarea, td select, td .uneditable-input {
    max-width: none;
}

@media (min-width: 1024px) {

	.row-fluid .span6 {
		width: 49.5%;
		margin-left: 1%;
	}

	.row-fluid .span4 {
		width: 32.6667%;
		margin-left: 1%;
	}

}

@media (min-width: 360px) {
	.top-span > .row-fluid > .span6 {
		width: 49.5%;
		margin-left: 1%;
		float: left;
	}
	.top-span > .row-fluid > .span6:first-child {
		margin-left: 0;
	}
}