{block content}
	{include #parent}
	{ifset $showMessage}
		{if $showMessage}
			<div class="row-fluid">
				<div class="flash-messages span12">
					<div class="alert alert-info">
						<button class="close" data-dismiss="alert">×</button>
						<span>{$showMessageText}</span>
					</div>
				</div>
			</div>
		{/if}
	{/ifset}
	{include '../common/default-form.latte',
		description => $description,
		data => $data,
		formName => 'form',
		spanBlock => TRUE
	}

{/block}
