
.icon-ok:before { content: '\e800'; } /* '' */
.icon-remove:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-comment:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-print:before { content: '\e806'; } /* '' */
.icon-minus:before { content: '\e807'; } /* '' */
.icon-chevron-right:before { content: '\e808'; } /* '' */
.icon-chevron-left:before { content: '\e809'; } /* '' */
.icon-info:before { content: '\e80a'; } /* '' */
.icon-trash:before { content: '\e80b'; } /* '' */
.icon-attach:before { content: '\e80c'; } /* '' */
.icon-plus-sign:before { content: '\e80d'; } /* '' */
.icon-info-sign:before { content: '\e80e'; } /* '' */
.icon-file-text:before { content: '\e80f'; } /* '' */
.icon-file:before { content: '\e810'; } /* '' */
.icon-chevron-up:before { content: '\e811'; } /* '' */
.icon-chevron-down:before { content: '\e812'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */