@font-face {
  font-family: 'aos';
  src: url('../font/aos.eot?36383276');
  src: url('../font/aos.eot?36383276#iefix') format('embedded-opentype'),
       url('../font/aos.woff2?36383276') format('woff2'),
       url('../font/aos.woff?36383276') format('woff'),
       url('../font/aos.ttf?36383276') format('truetype'),
       url('../font/aos.svg?36383276#aos') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'aos';
    src: url('../font/aos.svg?36383276#aos') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "aos";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ok:before { content: '\e800'; } /* '' */
.icon-remove:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-comment:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-print:before { content: '\e806'; } /* '' */
.icon-minus:before { content: '\e807'; } /* '' */
.icon-chevron-right:before { content: '\e808'; } /* '' */
.icon-chevron-left:before { content: '\e809'; } /* '' */
.icon-info:before { content: '\e80a'; } /* '' */
.icon-trash:before { content: '\e80b'; } /* '' */
.icon-attach:before { content: '\e80c'; } /* '' */
.icon-plus-sign:before { content: '\e80d'; } /* '' */
.icon-info-sign:before { content: '\e80e'; } /* '' */
.icon-file-text:before { content: '\e80f'; } /* '' */
.icon-file:before { content: '\e810'; } /* '' */
.icon-chevron-up:before { content: '\e811'; } /* '' */
.icon-chevron-down:before { content: '\e812'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */