{php $cssver = 5.61}
{php $logoVer = 2.3}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="ABRA schvalování">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{$visual['title']}</title>

    <link rel="shortcut icon" href="{$basePath}/favicon.ico?v={$logoVer}">

	<link rel="stylesheet" href="{$basePath}/misc/bootstrap/css/bootstrap.min.css?v={$cssver|noescape}" type="text/css">
	<link rel="stylesheet" href="{$basePath}/misc/bootstrap/css/bootstrap-responsive.min.css?v={$cssver|noescape}" type="text/css">
	<link rel="stylesheet" media="print,screen,projection,tv" href="{$basePath}/misc/jqueryui/css/redmond/jquery-ui.min.css" type="text/css">
	<link rel="stylesheet" media="print,screen,projection,tv" href="{$basePath}/misc/jqueryui/css/redmond/jquery-ui.structure.min.css" type="text/css">
	<link rel="stylesheet" media="print,screen,projection,tv" href="{$basePath}/misc/jqueryui/css/redmond/jquery-ui.theme.min.css" type="text/css">
	<link rel="stylesheet" media="print,screen,projection,tv" href="{$basePath}/misc/jqueryui/plugins/datetimepicker/jquery.ui.timepicker.css" type="text/css">
	<link rel="stylesheet" media="print,screen,projection,tv" href="{$basePath}/css/filetypes.css" type="text/css">

    <link rel="stylesheet" media="print,screen,projection,tv" href="{$basePath}/css/templates/common.css?v={$cssver|noescape}" type="text/css">
{*	TODO: restruktualizovat jako "zakaznicke css" -> common vycistit a nechat, pridat custom pro zakaznika
{* <link rel="stylesheet" media="print,screen,projection,tv" href="{$basePath}/css/templates/{$cfgTemplate|noescape}.css?v={$cssver|noescape}" type="text/css">*}
	{foreach $cfgNextCss as $cfgNextTemplate}
		<link rel="stylesheet" media="print,screen,projection,tv" href="{$basePath}/css/custom/{$cfgNextTemplate|noescape}?v={$cssver|noescape}" type="text/css">
	{/foreach}
    
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css" type="text/css">
	<link rel="stylesheet" media="print,screen,projection,tv" href="{$basePath}/fonts/fontello/css/aos.css?v={$cssver|noescape}" type="text/css">

	<script type="text/javascript" src="{$basePath}/misc/jquery/jquery-3.6.0.min.js"></script>{* jquery-1.11.3.min *}
	{*<script type="text/javascript" src="{$basePath}/misc/jquery/jquery-1.11.3.min.js"></script>{* jquery-1.11.3.min *}
	<script type="text/javascript" src="{$basePath}/misc/jqueryui/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{$basePath}/misc/jquery.base64/jquery.base64.js"></script>
	<script type="text/javascript" src="{$basePath}/misc/jqueryui/plugins/datetimepicker/jquery-ui-i18n.js"></script>
	<script type="text/javascript" src="{$basePath}/misc/jqueryui/plugins/datetimepicker/jquery.ui.timepicker.js"></script>
	{*<script type="text/javascript" src="{$basePath}/misc/jqueryui/plugins/datetimepicker/jquery.ui.timepicker-cs.js"></script>*}
	<script type="text/javascript" src="{$basePath}/misc/jqueryui/plugins/datetimepicker/jquery-ui-timepicker-addon.js"></script>
	<script type="text/javascript" src="{$basePath}/misc/nette/netteForms.js"></script>
	<script type="text/javascript" src="{$basePath}/misc/nette.ajax.js/nette.ajax.js"></script>
	<script type="text/javascript" src="{$basePath}/misc/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{$basePath}/misc/moment/moment-with-locales.min.js?v={$cssver|noescape}"></script>
	<script type="text/javascript" src="{$basePath}/misc/jquery/jquery.floatThead.min.js?v={$cssver|noescape}"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery.scrollTo.min.js"></script>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript" src="{$basePath}/js/windows-1250.js?v={$cssver|noescape}"></script>
	<script>culture_lang = {$culture['jQueryUiCode']};</script>
    <script>culture_settings = {=json_encode($culture->getSettings())|noescape};</script>
    <script>$(function() { moment.locale(culture_lang); });</script>
	<script type="text/javascript" src="{$basePath}/js/js.cookie.min.js?v={$cssver|noescape}"></script>
	<script type="text/javascript" src="{$basePath}/js/math.min.js?v={$cssver|noescape}"></script>
	<script type="text/javascript" src="{$basePath}/js/computed.js?v={$cssver|noescape}"></script>
    <script type="text/javascript" src="{$basePath}/js/textarea-min-max.js?v={$cssver|noescape}""></script>
	<script type="text/javascript" src="{$basePath}/js/app.js?v={$cssver|noescape}"></script>
	<script type="text/javascript">
        
		if(window.atob) {
			document.write('<'+'link rel="stylesheet" media="print,screen,projection,tv" href="' + {$basePath} + '/css/flex.css?v=' + {$cssver} + '" type="text/css"'+'>');
		}
        
        jQuery(function() {
            $.datepicker.setDefaults(jQuery.datepicker.regional[{$culture['jQueryUiCode']}]);
			$.nette.init();
        });
        
	</script>
	<style type="text/css">
		.max-row-dim { max-width: {$visual['maxWidth']|noescape}; } @media (min-width: 1920px){ .max-row-dim{ width: 1920px;}  }
        {if $fieldMaxWidth !== null}input, textarea, select, .uneditable-input, .load-wrapper { max-width: {$fieldMaxWidth|noescape} }{/if}
        .controls.text-field .text-right { text-align: left }
        .ui-autocomplete { max-height: 300px; overflow-y: auto; overflow-x: hidden; }
	</style>
	{block head}{/block}
</head>
<body data-culture="{$culture['jQueryUiCode']}" n:class="$user->isLoggedIn()? 'user-logged': ''" data-loader-message="{block loaderMessage}{__('Načítání prostředí...')}{/block}">
    {*if !empty($headerWarning)}<div class="header-warning">{$headerWarning}</div>{/if*}

	{define logo}
		<a href="{$baseUrl}" n:class="$visual['grayscale'] ? 'grayscale' : ''">
			{if !empty($logo)}
				<img src="{link Logo:data}" alt="Logo" class="logo" />
			{else}
				<img src="{$basePath}/images/{$visual['logo']}?v={$logoVer}" alt="{$visual['title']}" class="logo" />
			{/if}
		</a>
	{/define}

	<header data-http-warning="{_('Pozor! Aplikace neběží na https. Vaše data i přihlašovací údaje nejsou šifrovány.')}" data-http-warning-show="{$showHttpWarning}">
		<div class="container-fluid max-row-dim">
			<div class="row-fluid header-left">
				<div class="col no-wrap">

                    <nav class="navbar" n:if="empty($singleModule)" n:ifset="$modules">
                        <a class="btn btn-navbar btn-mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
                            <img src="{$basePath}/images/menu-lines.svg" alt="Menu" />
                        </a>
                        <div class="nav-collapse">
                            <ul class="nav nav-pills mobile-module-menu">
                            {foreach $modules as $ident => $mod}
                                {if $mod->splitbefore}<li class="module-menu-separator"><hr /></li>{/if}
                                {if !empty($mod->externalurl)}
                                    <li>
                                        <a href="{$mod->externalurl}" target="_blank">
                                            <div class="svg-icon">{$mod->iconfilename|svgIcon|noescape}</div>
                                            <span>{__($mod->caption)}</span>
                                        </a>
                                    </li>
                                {else}
                                    <li>
                                        <a n:href="Default:default bo=>$ident"{if isset($module) && $module->name == $mod->name} class="active"{/if}>
                                            {if !empty($forApproveHash[$mod->name]) && !empty($forApproveHash[$mod->name]['count'])}<span class="pull-right">{$forApproveHash[$mod->name]['count']}</span>{/if}
                                            <div class="svg-icon">
                                                {$mod->iconfilename|svgIcon|noescape}
                                                {if !empty($forApproveHash[$mod->name]) && !empty($forApproveHash[$mod->name]['count'])}<i class="for-approve-count">{$forApproveHash[$mod->name]['count']}</i>{/if}
                                            </div>
                                            <span>{__($mod->caption)}</span>
                                        </a>
                                    </li>
                                {/if}
                            {/foreach}
                            </ul>
                        </div>
                    </nav>
                    
                    <div class="logo-wrapper {$moduleMenuCookieValue}">
                        <a href="{$baseUrl}">
                            <img src="{$basePath}/images/abra-fragment.svg?v={$logoVer}" alt="ABRA Software" class="logo logo-fragment collapsed-logo" />
                            <img src="{$basePath}/images/abra-logo-2.svg?v={$logoVer}" alt="ABRA Software" class="logo logo-fragment full-logo" />
                        </a>
                    </div>
				</div>
                <div class="col grow middle-col">
                    <div class="middle-col-module-name" n:if="isset($module) && isset($modules[$module->name])">{__($modules[$module->name]->caption)}</div>
                    <div class="middle-col-module-name" n:if="isset($customModuleName)">{$customModuleName}</div>
                </div>
				<div class="col no-margin">

                    <div class="btn-group user-menu">
                        <a class="btn dropdown-toggle user-inicials" data-toggle="dropdown" title="{if $user->isLoggedIn()}{$user->identity->data['user']->name.', '.$connectionName}{/if}">
                            <img src="{$basePath}/images/avatar.svg" alt="User" />
                            {if $user->isLoggedIn()}
                            <div class="user-name-and-conn">
                                <strong>{$user->identity->data['user']->name}</strong><br>{$connectionName}
                                {*(!empty($user->identity->data['user']->companyName) ? ', ' . $user->identity->data['user']->companyName : '')*}
                            </div>
                            {/if}
                            {*<span class="user-inicials-cell" title="{$user->identity->data['user']->name . (!empty($user->identity->data['user']->companyName) ? ', ' . $user->identity->data['user']->companyName : '')}"></span>*}
                            {*$user->identity->data['user']->getInicials()*}
                        </a>
                        <ul class="dropdown-menu" style="left: initial; right: 0; top: 90%">

                            {if DEBUG_ENABLED}
                                <li class="text-left strong title">Debug</li>
                                <li><a n:href="Debug:readModules">{__('Občerstvit moduly')}</a></li>
                                <li><a n:href="Debug:clearSessions" data-confirm="{__('Opravdu chcete smazat relace? Toto způsobí odhlášení všech aktivních uživatelů včetně vás.')}">{__('Smazat relace')}</a></li>
                                <li><a n:href="Debug:langExport">{__('Export překladů')}</a></li>                                            
                            {/if}

                            {if isset($langs) && count($langs) > 1}
                                <li class="text-left strong title">Language</li>
                                <li class="dropdown-item lang-submenu">{foreach $langs as $l}<a n:href="this, lang=>$l"{if $culture->lang == $l} class="active"{/if}>{$l}</a>{/foreach}</li>
                            {/if}
                            
                            <li class="text-left strong title">{__('Verze')}</li>
                            <li class="dropdown-item">{$version|noescape}</li>

                            {if $user->isLoggedIn()}
                                <li n:if="$editProfile || !$isNtlm" class="text-left strong title">{__('Uživatel')}</li>
                                <li n:if="$editProfile">
                                    <a n:href="Sign:editProfile">{__('Editace profilu')}</a>
                                </li>
                                <li n:if="!$isNtlm">
                                    <a n:href="Sign:changePassword">{__('Změnit heslo')}</a>
                                </li>
                                {if !empty($guide)}
                                    <li class="text-left strong title">{__('Návody')}</li>
                                    {foreach $guide as $guideFile => $guideFileName}
                                        <li>
                                            <a href="{$basePath}{$guideFile}" target="_blank" class="download-link">{__($guideFileName)}</a>
                                        </li>
                                    {/foreach}
                                {/if}

                                {if !($isNtlm && $oneConnection)}
                                    <li class="divider"></li>
                                    <li>
                                        <a n:href="Sign:out">{__('Odhlásit se')}</a>
                                    </li>
                                {/if}
                            {/if}
                        </ul>
                    </div>

				</div>
			</div>
		</div>
	</header>

	<div class="main-content">
		<div class="container-fluid max-row-dim">
			<div class="row-fluid">
                {ifset $modules}
                <div class="col module-menu {$moduleMenuCookieValue}">
                    <a class="expand-collapse" href="#"><img src="{$basePath}/images/expand-collapse.svg" alt="Expand/Collapse toggle" /></a>
                    <nav>
                        <ul class="nav">
                            {foreach $modules as $ident => $mod}
                                {if $mod->splitbefore}<li class="module-menu-separator"><hr /></li>{/if}
                                {if !empty($mod->externalurl)}
                                    <li class="module-menu-item">
                                        <a href="{$mod->externalurl}" target="_blank">
                                            <div class="svg-icon">{$mod->iconfilename|svgIcon|noescape}</div>
                                            <span>{__($mod->caption)}</span>
                                        </a>
                                    </li>
                                {else}
                                    <li class="module-menu-item">
                                        <a n:href="Default:default bo=>$ident"{if isset($module) && $module->name == $mod->name} class="active"{/if}>
                                            {if !empty($forApproveHash[$mod->name]) && !empty($forApproveHash[$mod->name]['count'])}<span class="pull-right">{$forApproveHash[$mod->name]['count']}</span>{/if}
                                            <div class="svg-icon">
                                                {$mod->iconfilename|svgIcon|noescape}
                                                {if !empty($forApproveHash[$mod->name]) && !empty($forApproveHash[$mod->name]['count'])}<i class="for-approve-count">{$forApproveHash[$mod->name]['count']}</i>{/if}
                                            </div>
                                            <span>{__($mod->caption)}</span>
                                        </a>
                                    </li>
                                {/if}
                            {/foreach}
                        </ul>
                        {include logo}
                    </nav>
                </div>
                {/ifset}
				<div class="col module-content main-module-content">
                    {if !empty($headerWarning)}<div class="header-warning">{$headerWarning}</div>{/if}
                    {if !empty($currentModule)}
                        {foreach $currentModule->messages as $message}
                            {if $message->visible && (empty($message->actions) || in_array($presenter->action, $message->actions))}
                                <div class="alert alert-{$message->type} dontClose">{$message->text}</div>
                            {/if}
                        {/foreach}
                    {/if}
					{snippet flash}
						<div class="row-fluid" n:if="!empty($flashes)">
							<div class="span12 flash-messages">
								<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}{if $flash->type == 'error'} dontClose{/if}">
									<button class="close" data-dismiss="alert">&times;</button>
									<span>{$flash->message|nl2br|noescape}</span>
								</div>
							</div>
						</div>
					{/snippet}
					<div class="row-fluid">
						<div class="span12">
{*	Nechceme				<h1 n:ifset="$currentModule" class="clearfix"><span>{_$currentModule->caption}</span><small>{ifset $subheading}{$subheading}{/ifset}</small></h1>*}
							{block content}{/block}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ajax-loader">
        <div class="hv-centered">
            <div class="lds-css ng-scope">
                <div class="lds-spinner" style="width:100%;height:100%">
                    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                </div>
            </div>
            <p></p>
        </div>
    </div>
	{block foot}{/block}

	{*<script type="text/javascript"> $(function(){  $('.brand.hidden-desktop').html($(document).width()); });</script>*}

	<script type="text/javascript" n:syntax="double">
		$(function(){
			$('input[type="submit"].ajax, .validate-ajax').on('click', function(){
                $('.module-content').scrollTo(0, 200, 'swing');
			});


            // AJAX VALIDATE START
            $('body').on('click', '.validate-ajax', function(e) {
                e.preventDefault();
                var $btn = $(this);
                var $form = $btn.closest('form');
                var data = $form.serialize();
                var url = $form.prop('action');
                
                data += '&' + $btn.attr('name') + '=' + $btn.val();
                
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: data,
                    success: function(response) {
                        
                        if(response.snippets) {
                            
                            {{* Pokud se vrati chyba, jsou tam snippety *}}
                            $.each(response.snippets, function(id, html) {
                                $('#' + id).html(html);
                            });
                            
                        }
                        else {
                            
                            {{* Pokud se vrati cele HTML ... *}}
                            
                            {{* smazat flash messages - jiz neexistuje chyba *}}
                            $('#snippet--flash').html('');
                            
                            var form = $(response).find('#' + $form.prop('id'));
                            form.find(':input').each(function() {
                                var $input = $(this);
                                var $inputName = $input.prop('name');
                                var $inputTagName = $input.prop('tagName');
                                var $inputType = $input.prop('type');

                                if(!$inputName) {
                                    return;
                                }

                                var $cInput = $form.find(':input[name="' + $inputName + '"]');

                                if($inputTagName === 'INPUT' && ($inputType === 'checkbox' || $inputType === 'radio')) {
                                    $cInput.prop('checked', $input.is(':checked'));
                                }
                                else {
                                    $cInput.val($input.val());
                                }
                            });
                        }
                    }
                });
            });
            // AJAX VALIDATE END
            
            

			function keepAlive(){
				$.ajax({
					url: {{link :KeepAlive:keepAlive}},
					global: false, // prevent trigger events
					success: function(r){
						//console.log('session kept alive until '+r.expire);
					}
				});
			}


			var keepAliveInterval;
			var isActiveInterval = false;
			// Active
			window.addEventListener('focus', startTimerAlive);

			// Inactive
			window.addEventListener('blur', stopTimerAlive);


			// Start timer
			function startTimerAlive() {
				keepAlive();
				if (!isActiveInterval)
				{
					keepAliveInterval = window.setInterval(keepAlive, 20000);
					isActiveInterval = true;
				}
			}

			// Stop timer
			function stopTimerAlive() {
				window.clearInterval(keepAliveInterval);
				isActiveInterval = false;
			}

			$(window).on('load', function() {
				startTimerAlive();
			});



			// agregace
			calcSumInit();



			/* ALERT Handling (autoclose, removing parent)*/
			$('.alert').each(function(i, el){
				let timeout = {{$alertVisibleTime}} * 1000; // default 5sec

				if ($('.alert').hasClass('alert-error')){
					timeout *= 2;
				}

				if (!$('.dontClose').hasClass('dontClose')){
					setTimeout(function(){
						$(el).alert('close');
					}, timeout);
				}

			});

			$(".alert").not('.dontClose').bind('closed', function () {
				const parent = $(this).parent();

				if (parent.children().length === 1){
					parent.remove();
				}
			});

		});
	</script>
    {block scripts}{/block}
</body>
</html>
