<div id="cert-exp-warn" class="hide">
    <div class="header-warning">
        {_'Pozor! Blíží se expirace SSL certifikátu pro tuto aplikaci. Kontaktujte svého IT správce. Certifikát je platný do '}<strong>__DATE__</strong>.
    </div>
</div>
<script type="text/javascript">
    (function(){
        if(location.protocol === 'https:') {
            var certCheckUrl = {link :Check:certificate urlb64 => '_URL_'}.replace('_URL_', btoa(location.href));

            $.getJSON(certCheckUrl, {}, function(response) {
                if(response.certExpirationCheck && response.validTo) {
                    var now = moment();
                    var validFrom = moment(response.validFrom, moment.ISO_8601);
                    var validTo = moment(response.validTo, moment.ISO_8601);
                    var d = moment.duration(validTo.diff(now));
                    var days = d.asDays();
                    if(days < response.certExpirationWarn) {
                        var $warn = $('#cert-exp-warn');
                        var warnHtml = $warn.html().replace('__DATE__', validTo.format('L'));
                        $('.main-module-content').prepend(warnHtml);
                    }
                }
            });
        }
    })();
</script>