<div class="alert alert-error dontClose" n:if="!empty($oldBrowser)">
	{__('Používáte příliš starý prohlížeč nebo máte zapnutý režim kompatibility. Prosíme, zvažte jeho aktualizaci na nejnovější verzi, případně vypněte režim kompatibility.')}
	<img src="{$basePath}/images/compatibility.png" alt="{__('Režim kompatibility')}" />
</div>