/* File types CSS */
ul.files { list-style: none; margin: 10px 4px }
.file	{background-position: center left!important; background-repeat: no-repeat!important; padding-left: 22px!important;}
.file span { padding-left: 10px }
.mp3	{background-image:  url('../images/ext/music.png')!important; }
.wav	{background-image:  url('../images/ext/music.png')!important; }
.avi	{background-image:  url('../images/ext/film.png')!important; }
.mpg	{background-image:  url('../images/ext/film.png')!important; }
.bz2	{background-image:  url('../images/ext/bz2.png')!important; }
.conf	{background-image:  url('../images/ext/conf.png')!important; }
.deb	{background-image:  url('../images/ext/deb.png')!important; }
.doc	{background-image:  url('../images/ext/doc.png')!important; }
.docx	{background-image:  url('../images/ext/doc.png')!important; }
.docs	{background-image:  url('../images/ext/doc.png')!important; }
.dot	{background-image:  url('../images/ext/dotx.png')!important; }
.dotx	{background-image:  url('../images/ext/dotx.png')!important; }
.gif	{background-image:  url('../images/ext/gif.png')!important; }
.gz		{background-image:  url('../images/ext/gz.png')!important; }
.htm	{background-image:  url('../images/ext/htm.png')!important; }
.html	{background-image:  url('../images/ext/html.png')!important; }
.jpeg	{background-image:  url('../images/ext/jpeg.png')!important; }
.jpg	{background-image:  url('../images/ext/jpg.png')!important; }
.odc	{background-image:  url('../images/ext/odc.png')!important; }
.odf	{background-image:  url('../images/ext/odf.png')!important; }
.odg	{background-image:  url('../images/ext/odg.png')!important; }
.odi	{background-image:  url('../images/ext/odi.png')!important; }
.odp	{background-image:  url('../images/ext/odp.png')!important; }
.ods	{background-image:  url('../images/ext/ods.png')!important; }
.odt	{background-image:  url('../images/ext/odt.png')!important; }
.pdf	{background-image:  url('../images/ext/pdf.png')!important; }
.png	{background-image:  url('../images/ext/png.png')!important; }
.ppt	{background-image:  url('../images/ext/ppt.png')!important; }
.pptx	{background-image:  url('../images/ext/ppt.png')!important; }
.pot	{background-image:  url('../images/ext/pot.png')!important; }
.ps		{background-image:  url('../images/ext/ps.png')!important; }
.rpm	{background-image:  url('../images/ext/rpm.png')!important; }
.rtf	{background-image:  url('../images/ext/rtf.png')!important; }
.swf	{background-image:  url('../images/ext/swf.png')!important; }
.sxc	{background-image:  url('../images/ext/sxc.png')!important; }
.sxd	{background-image:  url('../images/ext/sxd.png')!important; }
.sxi	{background-image:  url('../images/ext/sxi.png')!important; }
.sxw	{background-image:  url('../images/ext/sxw.png')!important; }
.tar	{background-image:  url('../images/ext/tar.png')!important; }
.tgz	{background-image:  url('../images/ext/tgz.png')!important; }
.txt	{background-image:  url('../images/ext/txt.png')!important; }
.xls	{background-image:  url('../images/ext/xls.png')!important; }
.xlsx	{background-image:  url('../images/ext/xls.png')!important; }
.xml	{background-image:  url('../images/ext/xml.png')!important; }
.zip	{background-image:  url('../images/ext/zip.png')!important; }