@media only screen and (min-width: 768px) {

    .row-fluid {
		margin-left: auto;
		margin-right: auto;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;    
    }
    
	.x-row-fluid {
		margin-left: auto;
		margin-right: auto;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;	
	}

	.x-row-fluid > .span-block {
		-webkit-flex: 1 1 0px;
		-ms-flex: 1 1 0px;
		flex: 1 1 0px;
		min-width: 0;
	}
	
	
	/* Vertical align of fieldset borders */
	
	.row-fluid > .span-block {
		display: flex;
		flex-direction: column;
	}
	
	.row-fluid > .span-block > .fieldset:last-child {
		flex-grow: 1;
	}

	
	.filter-form .span-block {
		padding: 0;
	}
	
}